@import 'node_modules/argo-ui/src/styles/config';

.object-palette {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  border: thin $argo-color-gray-4 dashed;
  text-align: center;

  a {
    display: block;
    padding: 10px;
    color: $argo-color-gray-6;
    border: 1px solid transparent;
    border-radius: 5px;
  }
}