@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';
@import 'node_modules/@fortawesome/fontawesome-free/scss/variables';
@import 'node_modules/@fortawesome/fontawesome-free/scss/mixins';

.workflow-dag-render-options-panel {
  position: fixed;
  margin: 10px;
  padding: 10px;
  display: inline-block;

  @include themify($themes) {
    background-color: themed('background-2');
    box-shadow: 1px 1px 3px themed('shadow');
  }

  a {
    padding: 10px;

    @include themify($themes) {
      color: themed('light-argo-gray-6');
    }

    &.active {
      border-radius: 5px;
      cursor: default;

      @include themify($themes) {
        background-color: themed('background-1');
        border: 1px solid themed('border');
      }
    }
  }
}

.workflow-dag {

  text-align: center;

  .line {
    fill: transparent;
    stroke-width: 2;
    stroke: $argo-color-gray-4;
  }

  .arrow {
    fill: $argo-color-gray-4;
  }

  .label {
    text-anchor: middle;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;

    @include themify($themes) {
      fill: themed('text-1');
    }
  }

  .node {
    cursor: pointer;
  }

  .hidden {
    fill: $argo-color-gray-4;
  }

  &__node {
    &.active {
      stroke: $argo-color-teal-6;
    }
  }

  &__node-status {
    &--error, &--failed {
      fill: $argo-failed-color;
    }

    &--pending {
      fill: $argo-status-warning-color;
    }

    &--running {
      fill: $argo-running-color;
    }

    &--succeeded {
      fill: $argo-success-color;
    }

    &--skipped {
      fill: $argo-color-gray-4;
    }

    &--omitted {
      fill: $argo-color-gray-4;
    }

    &--suspended {
      fill: $argo-color-gray-4;
    }

    &--collapsed-horizontal {
      fill: $argo-color-gray-6;
    }

    &--collapsed-vertical {
      fill: $argo-color-gray-6;
    }
  }
}
