.sys-console {
    height: 100%;

    &__container {
        width: 100%;
        height: calc(100% - 76px);
    }

    &__exec-container {
        padding: 5px 0;
    }

    &__exec-input {
        width: calc(100% - 150px);
        vertical-align: middle;
    }

    &__exec-button {
        width: 140px;
    }
}
