<div class="ax-top-bar">
  <div class="ax-top-bar__search">
    <!--<ax-global-search-input *ngIf="settings.globalSearch | async"-->
    <!--[settings]="settings.globalSearch | async">-->
    <!--</ax-global-search-input>-->
  </div>
  <div class="row">
    <div class="columns small-9 ax-top-bar__left-side">
      <div class="ax-top-bar__title text-truncate">{{pageTitle}}</div>
    </div>
    <div class="columns small-3 ax-top-bar__right-side">
      <div class="ax-top-bar__tools">

      </div>
    </div>
  </div>
</div>
<div class="ax-top-bar-shadow"></div>
