@import '../../../assets/styles/config';
@import 'node_modules/foundation-sites/scss/util/util';

.ax-top-bar {
    display: block;
    position: fixed;
    z-index: $top-bar-z-index;
    top: 0;
    right: 0;
    left: $nav-width;
    height: $top-bar-height;
    line-height: $top-bar-height;
    background: $ax-color-white;
    transition: right .5s;
    border-bottom: 1px solid $ax-color-gray-2;

    // Hide search and icons when navigation is open
    .opened-nav & > .row > *:not(.ax-top-bar__left-side), .opened-nav & .ax-top-bar__global-search, .opened-nav & .ax-top-bar__search {
       display: none;
    }

    &__left-side {
        padding-left: 20px;
        white-space: nowrap;
    }

    &__right-side {
        padding-right: 20px;
        text-align: right;
    }

    &__title {
        float: left;
        font-weight: 500;
        font-size: .925em;
        color: $ax-color-teal-7;
        text-transform: uppercase;
    }

    &__des {
        position: relative;
        float: left;
        margin-left: 16px;
        padding-left: 16px;
        font-size: .925em;
        color: $ax-color-gray-3;

        &::before {
            position: absolute;
            left: 0;
            top: 20px;
            bottom: 20px;
            width: 1px;
            background-color: $ax-color-gray-6;
            content: '';
        }

        strong {
            font-weight: 700;
            color: $ax-color-gray-8;
        }

        i {
            position: relative;
            margin-right: 2px;
        }
    }

    &__search {
        input {
            border-radius: 24px;
            background-color: $ax-color-gray-3;
            border-color: transparent;
        }
    }

    a {
        color: $ax-color-gray-6;
        font-size: 1em;
    }

    &__tools {
        display: inline-block;
        white-space: nowrap;

        &::after {
            display: inline-block;
            vertical-align: middle;
            content: "";
        }

        & li > a {
            color: $ax-color-gray-6;
        }
    }

    &__tool {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        font-size: 1.1em;

        //@include breakpoint(xlarge down) {
        //    margin-left: 10px;
        //}

        > * {
            position: relative;
        }

        &--notifications-center {
            &:before {
                position: absolute;
                top: 0;
                right: -16px;
                bottom: 0;
                left: -16px;
                background-color: $ax-color-gray-2;
                opacity: 0;
                content: '';
                transition: opacity .2s;

                //@include breakpoint(xlarge down) {
                //    right: -5px;
                //    left: -5px;
                //}
            }

            &.active:before {
                opacity: 1;
            }
        }

        &--has-alert::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(2px, -7px);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $ax-status-failed-color;
            content: '';
        }
    }

    &__global-search {
        height: $top-bar-height;
        position: absolute;
        display: block;
        z-index: 1;
        background: $ax-color-gray-2;
        right: 0;
        width: 0;

        &--expanded {
            width: 100%;
        }
    }

    &__input-select {
        position: absolute;
        right: 40%;
        top: 14px;
        width: 200px;

        input {
            color: $ax-color-gray-4;
        }

        i {
            font-size: 1.2em;
            color: $ax-color-gray-4;
        }
    }
}

.ax-top-bar-shadow {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    left: $nav-width;
    height: $top-bar-height;
    box-shadow: 0 1px 3px rgba(143, 164, 177, .3);
}
