@import '../../../assets/styles/config';

.ax-toolbar-padding {
    height: $toolbar-height;
}

.ax-toolbar {
    position: fixed;
    top: $top-bar-height;
    left: $nav-width;
    right: 0;
    z-index: $toolbar-z-index;
    height: $toolbar-height;
    padding-left: 20px;
    line-height: $toolbar-height;
    background-color: $ax-color-white;
    border-bottom: 1px solid $ax-color-gray-2;
    box-shadow: 0 1px 3px rgba(143, 164, 177, .3);

    .has-tabs &,
    &.has-sticky-panel {
        box-shadow: none;
    }

    &__nav {
        float: left;
        position: relative;
        margin: 10px 16px 10px 0;
        padding: 4px 6px;
        line-height: 1;
        font-size: 1.1em;
        color: $ax-color-gray-6;
        cursor: pointer;
        border: 1px solid $ax-color-gray-2;
        border-radius: 3px;

        &:hover {
            background-color: $ax-color-gray-2;
        }
    }

    &__breadcrumbs {
        float: left;
        margin-left: -4px;
        height: $toolbar-height;
        font-weight: 500;
        font-size: .8em;
        color: $ax-color-gray-8;

        a {
            display: inline-block;
            padding: 4px;
            line-height: 1.23;
            font-weight: 400;
            color: $ax-color-teal-6;
            border-radius: 3px;

            &:hover {
                background-color: $ax-color-gray-2;
            }
        }

        &-last-item {
            display: inline-block;
            padding: 0 4px;
        }
    }

    &__sep {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;
        width: 0;
        height: 24px;
        border-left: 1px solid $ax-color-gray-4;
        transform: rotate(24deg);
    }

    &__filters {
        float: right;
        height: $toolbar-height;
        padding-right: 20px;
        text-align: right;
    }

    &__filter {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        line-height: 1.5;
        font-size: .8em;
        color: $ax-color-gray-6;
        text-align: left;

        &.has-filter {
            &::before {
                position: absolute;
                top: 5px;
                right: 19px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #009BFF;
                content: '';
            }
        }

        &:not(:last-child) {
            padding-right: 8px;
            border-right: 1px solid $ax-color-gray-4;

            &.has-filter {
                &::before {
                    right: 31px;
                }
            }
        }

        &-btn {
            padding: 4px 8px;
            border: 1px solid transparent;
            border-radius: 3px;

            &:hover,
            &:active {
                background-color: $ax-color-gray-2;
            }

            &:active {
                border-color: $ax-color-gray-3;
            }
        }

        .multi-select {
            .value {
                border: 0;
            }
        }
    }

    &__select {
        margin: -1rem;
        padding: 4px 0;
    }

    &__option {
        padding: 10px 20px;
        color: $ax-color-gray-6;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background-color: $ax-color-gray-1;
        }

        &.has-separator:not(:last-child) {
            border-bottom: 1px solid $ax-color-gray-2;
        }

        .ax-checkbox {
            top: -1px;
            margin-right: 6px;
        }

        &-ico {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2px;
            color: $ax-color-teal-7;

            &--success {
                color: $ax-success-color;
            }

            &--fail {
                color: $ax-failed-color;
            }

            &--running {
                color: $ax-running-color;
            }

            &--queued {
                color: $ax-color-gray-4;
            }
        }
    }

    &__global-add {
        position: absolute;
        top: 18px;
        right: calc(50% - #{$basePageWidth/2});

        .has-tabs & {
            top: 76px;
        }

        a {
            color: #f6f6f6;
        }

        @media screen and (max-width: $basePageWidth) {
            right: 10px;
        }
    }
}
