@import 'node_modules/argo-ui/src/styles/config';

.resource {
  margin: 10px 0;
  padding: 10px 5px;
  font: normal 13px/1.2 'Courier New', monospace;
  white-space: pre;
  color: $argo-color-gray-7;
  border-color: $argo-color-gray-2;;
  border-width: thin;
  border-style: inset;
  overflow-y: scroll;
  width: 100%;
  min-height: 300px;
}