.bottom-toolbox {
    min-height: 140px;

    h3 {
        margin-bottom: 26px;
        font-size: 13px;
        font-weight: 400;
        color: $ax-color-gray-6;

        em {
            margin-right: 10px;
            padding: 3px 16px;
            font-weight: bold;
            font-size: 15px;
            font-style: normal;
            color: $ax-color-white;
            background-color: $ax-color-teal-7;
            border-radius: 14px;
        }
    }

    &--small {
        min-height: 62px;

        h3 {
            margin-right: 20px;
            display: inline-block;
            margin-bottom: 0;
        }
    }

    &__wrapper {
        position: fixed;
        z-index: $bottom-toolbox-z-index;
        right: 0;
        bottom: 0;
        left: $nav-width;
        padding: 14px 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        min-height: 62px;
    }

    .ax-button {
        min-width: 140px;
        margin-right: 20px;
    }
}
