.labels-horizontal-list {
    display: block;
    color: $ax-color-gray-6;

    &__top {
        display: block;
    }

    &__title {
        display: inline-block;
        font-size: 14px;
        margin: 8px 0;
    }

    &__add {
        float: right;
        display: inline;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 13px;
        padding: 9px 40px;

        & > a > span {
            font-size: 18px;
            line-height: 20px;
            vertical-align: middle;
        }
    }

    &__content {
        & > textarea {
            width: 100%;
            max-width: 100%;
            min-height: 70px;
            border-radius: 5px;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
            background-color: #FFFFFF;
            border: none;
            padding: 5px 10px;

            &::placeholder {
                color: $ax-color-gray-4;
            }

            &:focus {
                border: none;
                outline: none;
            }
        }
    }

    &__white-panel {
        padding-bottom: 5px;
        width: 100%;
        min-height: 70px;
        border-radius: $border-radius;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF;

        & > span {
            display: inline-block;
            background: $ax-color-gray-2;
            margin: 5px 0 0 5px;
            padding: 1px 10px;
            border-radius: $border-radius;
        }
    }
}