apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-controller
spec:
  template:
    spec:
      containers:
      - name: workflow-controller
        env:
          - name: FORCE_NAMESPACE_ISOLATION
            value: "true"
