# Prevent vendor directory from being copied to ensure we are not not pulling unexpected cruft from
# a user's workspace, and are only building off of what is locked by dep.
.github
.idea
*.iml
*.md
*.yaml
community
dist
docs
examples
manifests
test
ui/node_modules
vendor
Dockerfile
