# Prevent vendor directory from being copied to ensure we are not not pulling unexpected cruft from
# a user's workspace, and are only building off of what is locked by dep.
*.iml
*.md
*.yaml
.github
.idea
.run
assets
community
coverage.out
dist
docs
examples
manifests
plugins
sdks
test/e2e
ui/dist
ui/node_modules
v3
vendor