[submodule "clients/argo-workflows-java-server-client"]
	path = clients/argo-workflows-java-server-client
	url = git@github.com:argoproj-labs/argo-workflows-java-server-client.git
	branch = master
[submodule "clients/argo-workflows-python-server-client"]
	path = clients/argo-workflows-python-server-client
	url = git@github.com:argoproj-labs/argo-workflows-python-server-client.git
	branch = master
