Pipfile
.vscode/
.idea/
.node-version
.DS_Store
vendor/
dist/
# delve debug binaries
cmd/**/debug
hack/**/debug
hack/featuregen/featuregen
/argo
/argoexec
release-notes
debug.test
git-ask-pass.sh
*.iml
/coverage.out
.envrc
/.vendor-new
/kustomize
/workflow-controller
/.scannerwork/
/test-results/
/package-lock.json
/pkg/apiclient/_.secondary.swagger.json
/pkg/apiclient/clusterworkflowtemplate/cluster-workflow-template.swagger.json
/pkg/apiclient/cronworkflow/cron-workflow.swagger.json
/pkg/apiclient/event/event.swagger.json
/pkg/apiclient/eventsource/eventsource.swagger.json
/pkg/apiclient/info/info.swagger.json
/pkg/apiclient/pipeline/pipeline.swagger.json
/pkg/apiclient/sensor/sensor.swagger.json
/pkg/apiclient/workflow/workflow.swagger.json
/pkg/apiclient/workflowarchive/workflow-archive.swagger.json
/pkg/apiclient/workflowtemplate/workflow-template.swagger.json
/site/
/.brew_home
/go-diagrams/
/.run/
sdks/python/client/dist/*
/v3/
/cmd/argoexec/commands/test.txt
/db-dumps/

# Do not commit rendered installation manifests since they are misleading to users.
manifests/install.yaml
manifests/namespace-install.yaml
/logs
node_modules
result
.devenv
