.vscode/
.idea/
.DS_Store
vendor/
dist/
# delve debug binaries
cmd/**/debug
hack/**/debug
/argo
/argoexec
debug.test
*.iml
/coverage.out
.envrc
/.vendor-new
/workflow-controller
/.scannerwork/
/test-results/
/model.conf
/policy.csv
