.vscode/
.idea/
.DS_Store
vendor/
dist/
# delve debug binaries
cmd/**/debug
hack/**/debug
/argoexec
debug.test
git-ask-pass.sh
*.iml
/coverage.out
.envrc
/.vendor-new
/kustomize
/workflow-controller
/.scannerwork/
/test-results/
/site/
/.brew_home
/go-diagrams/
/.run/
