sdks/python/client/** linguist-generated
sdks/java/client/** linguist-generated
manifests/base/crds/*/argoproj.io*.yaml linguist-generated
manifests/quick-start-*.yaml linguist-generated
api/jsonschema/schema.json linguist-generated
api/openapi-spec/swagger.json linguist-generated
pkg/client/** linguist-generated
