# Default ownership
*          @argoproj/argo-workflows-approvers

*.proto    @joibel @terrytangyuan

# Documentation
/docs/**              @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/mkdocs.yml           @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/.features/**/*.md    @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/community/**         @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/examples/README.md   @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/README.md            @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/CONTRIBUTING.md      @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
/USERS.md             @argoproj/argo-workflows-approvers-docs @argoproj/argo-workflows-approvers
