required = [
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "k8s.io/code-generator/cmd/lister-gen",
]

[[constraint]]
  name = "k8s.io/api"
  branch = "release-1.14"

[[constraint]]
  name = "k8s.io/apimachinery"
  branch = "release-1.14"

[[constraint]]
  name = "k8s.io/code-generator"
  branch = "release-1.14"

[[constraint]]
  name = "k8s.io/kube-openapi"
  branch = "master"

[[constraint]]
  name = "k8s.io/client-go"
  branch = "release-11.0"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.1.4"

[[constraint]]
  name = "github.com/spf13/cobra"
  revision = "fe5e611709b0c57fa4a89136deaa8e1d4004d053"

[[constraint]]
  name = "gopkg.in/src-d/go-git.v4"
  version = "4.5.0"

[[constraint]]
  name = "github.com/Knetic/govaluate"
  revision = "9aa49832a739dcd78a5542ff189fb82c3e423116"

[[constraint]]
  name = "github.com/prometheus/client_golang"
  version = "0.8.0"

# azure.go:252:4: cannot use json.Number(expiresIn) (type json.Number) as type string in field value
[[override]]
  name = "github.com/Azure/go-autorest"
  version = "12.4.2"

# contrib.go.opencensus.io/exporter/ocagent/transform_stats_to_metrics.go:67:11: undefined: 
# "github.com/argoproj/argo/vendor/github.com/census-instrumentation/opencensus-proto/gen-go/metrics/v1".Metric_MetricDescriptor
[[override]]
  name = "contrib.go.opencensus.io/exporter/ocagent"
  version = "0.5.0"

[[constraint]]
  name = "github.com/colinmarc/hdfs"
  revision = "9746310a4d311e21ce43b2a645c5a1e64c5e8efa"

[[constraint]]
  name = "gopkg.in/jcmturner/gokrb5.v5"
  version = "5.3.0"

[[constraint]]
  name = "upper.io/db.v3"
  version ="3.5.7"

