@import '../../../../assets/styles/config';
$logoPath: 'assets/styles/icons/ApplatixLogo.svg';

.playground {
    position: relative;
    padding-bottom: 60px;

    &__intro {
        position: relative;
        height: 440px;
        padding-top: $top-bar-height;
        text-align: center;
        overflow: hidden;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(#2f5771, 0.8) 0%, rgba(#38bfd2, 0.8));
            content: '';
        }

        video {
            position: absolute;
            z-index: -2;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        h1 {
            padding: 50px 0 30px;
            color: #fff;
            font-weight: 100;
            font-size: 4em;
        }
    }

    &__play-btn {
        cursor: pointer;

        i {
            font-size: 4em;
            color: #fff;
        }

        span {
            display: block;
            margin-top: 20px;
            color: $ax-color-gray-3;
            text-shadow: 2px 2px 2px rgba(#000, .5);
        }
    }

    &__content {
        padding: 50px 0;
        text-align: center;

        p {
            margin: 0;
            color: $ax-color-gray-6;
            font-size: .85em;
        }
    }

    &__des {
        margin-top: 60px;

        p {
            margin-bottom: 4px;
        }
    }

    &__row {
        margin-bottom: 30px;
        padding: 30px 20px;
        text-align: left;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

        h3 {
            margin-bottom: 8px;
            font-weight: 300;
            font-size: 1.4em;
            color: $ax-color-teal-7;
        }
    }

    &__row-ico {
        float: left;
        margin-right: 18px;
    }

    &__row-btn {
        display: inline-block;
        width: 50%;
        padding: 20px;

        &:not(:last-child) {
            border-right: 1px solid $ax-color-gray-4;
        }
    }

    &__icon {
        font-size: 4em;
        background: linear-gradient(to bottom right, #5178DD 0%,#90CB81 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sliding-panel__body {
        .ax-toolbar {
            top: 0;
            left: 0;
        }
        .ax-container {
            margin-left: 0;
            margin-right: 0;
        }

        .project-details-panel .content {
            margin-top: 14em;
        }
    }
}

.playground-topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $top-bar-height;
    background: linear-gradient(to right, rgba(#0e4870, .8) , rgba(#127397, .7));
    border-bottom: 2px solid rgba(#fff, .2);
    z-index: 1;

    &::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #0c3454, #00c6d1);
        content: '';
    }

    &__logo {
        &::before {
            display: inline-block;
            width: 160px;
            height: $top-bar-height;
            background: url($logoPath) center no-repeat;
            content: '';
        }
    }

    button {
        height: $top-bar-height;
        font-size: 1.6em;
        color: #fff;
    }
}

.playground-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: .8em;
    color: $ax-color-gray-4;
    background-color: $ax-color-gray-7;

    &__logo {
        display: inline-block;
        vertical-align: middle;

        &::before {
            display: inline-block;
            width: 100px;
            height: 70px;
            background: url($logoPath) center no-repeat;
            content: '';
        }
    }

    &__ver {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        margin-top: -24px;
        margin-left: 12px;
        padding-left: 12px;
        font-weight: 300;
        line-height: 24px;
        font-size: 1.4em;
        border-left: 1px solid $ax-color-gray-4;
    }

    &__link {
        display: inline-block;
        height: 16px;
        margin-left: 6px;
        line-height: 16px;
        color: $ax-color-gray-4;

        &:hover {
            color: $ax-color-gray-4;
            text-decoration: underline;
        }

        &:not(:last-child) {
            padding-right: 6px;
            border-right: 1px solid $ax-color-gray-4;
        }
    }
}
