<div class="nav-bar">
  <div class="nav-bar__logo">
    <img src="/assets/styles/icons/logo.png" alt="Argo">
    <div class="nav-bar__version">ver: {{version}}</div>
  </div>
  <div class="nav-bar__item" routerLink="/timeline" routerLinkActive="active">
    <i class="ax-icon-timeline"></i>
    <span class="nav-bar__item-tooltip">Timeline</span>
  </div>
  <div class="nav-bar__item" routerLink="/test" routerLinkActive="active">
    <i class="ax-icon-docs"></i>
    <span class="nav-bar__item-tooltip">Docs</span>
  </div>
</div>
