<ax-toolbar>
  <div class="ax-toolbar-new__filter" [class.has-filter]="hasFilters">
    <ax-dropdown>
      <ax-dropdown-anchor>
        <div class="ax-toolbar-new__filter-btn">
          <i class="ax-icon-filter" aria-hidden="true"></i>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </ax-dropdown-anchor>
      <ax-dropdown-content>
        <div class="ax-toolbar-new__select">
          <div class="ax-toolbar-new__option" *ngFor="let option of toolbarFilters.data" (click)="toggleFilter(option)" [class.has-separator]="option.hasSeparator">
            <ax-checkbox [checked]="toolbarFilters.model.indexOf(option.value) > -1"></ax-checkbox>
            {{ option.name }}
          </div>
        </div>
      </ax-dropdown-content>
    </ax-dropdown>
  </div>
</ax-toolbar>
<div class="content content--without-padding-bottom content--with-padding-top">
  <div class="ax-container" *ngIf="workflowList">
    <div class="stream">
      <div class="workflow" *ngFor="let workflow of workflowList.items">
        <ax-workflow-item [workflow]="workflow"></ax-workflow-item>
      </div>
    </div>
  </div>
</div>
