@import '../../../assets/styles/config';

.status-icon {
    &--failed {
        color: $ax-failed-color;
    }

    &--success {
        color: $ax-success-color;
    }

    &--waiting {
        color: $ax-waiting-color;
    }

    &--cancelled {
        color: $ax-cancelled-color;
    }

    &--running {
        color: $ax-running-color;
    }

    &--init {
        color: $ax-init-color;
    }

    &--spin {
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}
