@import 'node_modules/argo-ui/src/styles/config';

$ax-job-height: 150px;
$ax-job-status-width: 220px;

.workflow-list-item {
    margin: 10px 0 20px 0;

    &__top {
        position: relative;
        display: block;
        font-size: 0.8em;
        height: 36px;
    }

    &__content {
        border-radius: $border-radius;
        background-color: white;
        box-shadow: 1px 1px 3px $argo-color-gray-5;
        cursor: pointer;
        position: relative;

        &-menu {
            position: absolute;
            top: 20px;
            right: 20px;

            .ax-button--radius-2 {
                i {
                    padding-bottom: 0;
                }
            }
        }

        &:hover {
            box-shadow: 1px 2px 3px rgba($argo-color-gray-9, .1), 0 0 0 1px rgba($argo-color-teal-5, .5);
        }

        &-box {
            flex: 4;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &-details {
            padding: 20px;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            overflow-y: hidden;
            height: 100%;
            background-color: $argo-color-teal-1;

            &-row {
                margin-top: 10px;
                font-size: .75em;
                color: $argo-color-gray-6;

                &-job-id {
                    margin-right: 50px;
                }
            }

            &--additional-space {
                overflow: hidden;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__status {
        display: inline-block;
        line-height: 18px;
        width: 100%;
        margin-top: 8px;
        white-space: nowrap;

        &-icon {
            font-size: 18px;
            display: inline-block;
            height: 18px;
            width: 18px;
        }

        &-message {
            display: inline-block;
            vertical-align: top;
            color: $argo-color-gray-5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            padding-right: 20px;
        }
    }
}
