@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/@fortawesome/fontawesome-free/scss/variables';
@import 'node_modules/@fortawesome/fontawesome-free/scss/mixins';

.workflow-dag-render-options-panel {
  position: fixed;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 3px $argo-color-gray-5;

  a {
    padding: 10px;
    color: $argo-color-gray-6;

    &.active {
      background-color: $argo-color-gray-3;
      border: 1px solid $argo-color-gray-4;
      border-radius: 5px;
      cursor: default;
    }
  }
}
