@import '../../../../../assets/styles/config';

.job-fixtures-box {

    &__icon {
        font-size: 32px;
        position: absolute;
        left: 0.5em;
        color: $ax-color-gray-5;
    }

    &__details, &__attributes {
        padding: 1em;
        line-height: 24px;
        font-size: 12px;
    }

    &__attributes, &__chart {
        background-color: $ax-color-teal-1;
    }

    &__chart {
        padding-right: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -16px;

        svg {
            width: 150px !important;
            margin: 0 auto !important;
        }
    }

    &__chart-container {
        position: relative;
        text-align: center;
        margin: 1em 0 1em 1em;
        border-left: 1px solid $ax-color-gray-3;
    }

    &__chart-title {
        padding: 0;
        margin: 0;
    }

    &__chart-steps {
        color: $ax-color-gray-5;
        position: absolute;
        line-height: 10px;
        font-size: 1.2em;
        right: 50%;
        transform: translateX(50%);
        top: 3.3em;

        p {
            font-size: 2em;
            margin-bottom: 0;
        }
    }

    &__details {
        padding-left: 6em;
    }

    &__main {
        font-weight: bolder;
        font-size: 15px;
        color: $ax-color-gray-7;
    }

    .white-box {
        margin-top: 40px;
    }

    .white-box &__details-title {
        font-size: 2em;
        padding-left: 1em;

        span {
            color: $ax-color-gray-7;
        }
    }

    &__logs {
        height: 400px;
    }

    &__usage-row {
        border-bottom: 1px solid $ax-color-gray-3;
        margin-bottom: 14px;
        padding-bottom: 5px;

        &:first-of-type {
            color: $ax-color-gray-7;
        }
    }
}