<form [formGroup]="changePasswordForm" class="change-password-panel" (ngSubmit)="update()">
    <ax-sliding-panel [show]="show" (closePanel)="close()">
        <sliding-panel-header>
            <button axButtonWave class="ax-button ax-button--base" type="submit">{{ 'Save' | translate }}</button>
            <button type="button" (click)="close()" axButtonWave class="ax-button">{{ 'Cancel' | translate }}</button>
        </sliding-panel-header>
        <sliding-panel-body>
                <div class="panel-box__title">Edit Profile</div>
                <div class="white-box">
                    <div class="change-password-panel__form">
                        <ax-avatar [user]="user"></ax-avatar>
                        <div class="ax-form-row">
                            <input id="oldPassword" type="password" class="ax-field" autocomplete="off" ax-label-placeholder
                                   formControlName="old_password">
                            <label for="oldPassword" class="ax-label-placeholder">{{ 'Current Password' | translate }}</label>
                            <div class="ax-form-row__error-msg" *ngIf="!changePasswordForm.controls['old_password'].valid && (changePasswordForm.controls['old_password'].touched || submitted)">Password is wrong<i class="fa fa-warning"></i></div>
                        </div>
                        <div class="ax-form-row">
                            <input id="newPassword" type="password" class="ax-field" autocomplete="off" ax-label-placeholder
                                   formControlName="new_password">
                            <label for="newPassword" class="ax-label-placeholder">{{ 'New Password' | translate }}</label>
                            <div class="ax-form-row__error-msg" *ngIf="!changePasswordForm.controls['new_password'].valid && (changePasswordForm.controls['new_password'].touched || submitted)">
                                Password should contain at least 8 characters including one uppercase, one lowercase, one number and one special character.<i class="fa fa-warning"></i></div>
                        </div>
                        <div class="ax-form-row">
                            <input id="confirmNewPassword" type="password" class="ax-field" autocomplete="off" ax-label-placeholder
                                   formControlName="confirm_password">
                            <label for="confirmNewPassword" class="ax-label-placeholder">{{ 'Confirm New Password' | translate }}</label>
                            <div class="ax-form-row__error-msg" *ngIf="!changePasswordForm.controls['confirm_password'].valid && (changePasswordForm.controls['confirm_password'].touched || submitted)">
                                Your password and confirmation password do not match.<i class="fa fa-warning"></i></div>
                        </div>
                    </div>
                </div>
        </sliding-panel-body>
    </ax-sliding-panel>
</form>
