.avatar {
    display: inline-block;
    border-radius: 50%;
    font-weight: 300;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(#000,.07);
    text-transform: uppercase;
    background-color: #CCCCCC;
    opacity: .8;
}
