<div class="setup">
    <div class="setup__shortcut">
        <div class="argo"></div>
        <div class="logo"></div>
    </div>

    <div class="setup__box setup__box--reset-password">
        <div class="setup__header">
            <h1>{{ 'Reset Your Password' | translate }}</h1>
        </div>
        <div class="setup__content setup__content--reset-password">
            <form role="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
                <div class="ax-form-row">
                    <input id="new_password" type="password" class="ax-field" formControlName="new_password"
                           autocomplete="off" ax-label-placeholder>
                    <label for="new_password" class="ax-label-placeholder">{{ 'New Password' | translate }}</label>
                    <div class="ax-form-row__error-msg" *ngIf="!resetPasswordForm.controls['new_password'].valid && (resetPasswordForm.controls['new_password'].touched || submitted)">
                        Password should contain at least 8 characters including one uppercase, one lowercase, one number and one special character.<i class="fa fa-warning"></i></div>
                </div>
                <div class="ax-form-row">
                    <input id="confirm_password" type="password" class="ax-field" formControlName="confirm_password"
                           autocomplete="off" ax-label-placeholder>
                    <label for="confirm_password" class="ax-label-placeholder">{{ 'Confirm Password' | translate }}</label>
                    <div class="ax-form-row__error-msg" *ngIf="!resetPasswordForm.controls['confirm_password'].valid && (resetPasswordForm.controls['confirm_password'].touched || submitted)">
                        Your password and confirmation password do not match.<i class="fa fa-warning"></i></div>
                </div>
                <div class="login__form-row">
                    <button axButtonWave class="ax-button ax-button--base ax-button--full-width setup__btn" type="submit">
                        {{ 'Submit' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
