kubectl -n argo create secret generic azure-auth-secret --from-literal=client-id=<your-client-id> --from-literal=client-secret=<your-client-secret> --from-literal=tenant-id=<your-tenant-id> --from-literal=admin-password=<your-admin-password>
