<div class="workflow-steps">
    <div class="workflow-steps__title">
        <div class="workflow-steps__icon">
            <i class="ax-icon-job" aria-hidden="true"></i>
        </div>
        <div class="workflow-steps__description">
            <div class="workflow-steps__description-title">{{ workflow.metadata.name }}</div>
        </div>
    </div>
    <div class="workflow-steps__timeline">
        <div class="workflow-steps__step-dots">
            <div class="workflow-steps__step-circle workflow-steps__step-circle-small"></div>
            <div class="workflow-steps__step-circle workflow-steps__step-circle-small"></div>
            <div class="workflow-steps__step-circle workflow-steps__step-circle-small"></div>
            <div class="workflow-steps__step-name">&nbsp;</div>
        </div>
        <div *ngFor="let step of steps; let i = index" class="workflow-steps__step"
             [ngClass]="{
                       'workflow-steps__step--succeeded': step.isSucceeded,
                       'workflow-steps__step--failed': step.isFailed,
                       'workflow-steps__step--running': step.isRunning}">
            <div class="workflow-steps__step-circle" [ngClass]="{
                       'workflow-steps__step-circle--succeeded': step.isSucceeded,
                       'workflow-steps__step-circle--failed': step.isFailed,
                       'workflow-steps__step-circle--running': step.isRunning}"></div>
            <div class="workflow-steps__step-name">{{step.name | truncateTo: 25}}</div>
        </div>
    </div>
</div> 
