<div class="ax-project-icon">
    <div class="ax-project-icon__header ax-project-icon__header--1" [routerLink]="[project?.id]">
        <i class="ax-project-icon__axlogo ax-icon-axlogo"></i>
        <div class="ax-project-icon__img">
            <img *ngIf="project?.assets?.icon" [src]="project?.assets?.icon" [alt]="[project?.name]">
            <span class="ax-project-icon__img-i" *ngIf="!project?.assets?.icon">{{ project?.name[0] }}</span>
        </div>
        <div class="ax-project-icon__title">{{ project?.name }}</div>
    </div>
    <div class="ax-project-icon__body">
        <p>{{ project?.description }}</p>
        <a [routerLink]="[project?.id]">Learn more...</a>
        <div class="ax-project-icon__body-btn">
            <ax-project-launch-button [project]="project"></ax-project-launch-button>
        </div>
    </div>
</div>
