@import '../../../../assets/styles/config';

.ax-project-icon {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba($ax-color-gray-9, .1);

    &__header {
        position: relative;
        padding: 24px 14px 14px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: $ax-color-gray-5;
        cursor: pointer;
    }

    &__img {
        overflow: hidden;
        width: 70px;
        height: 70px;
        padding: 0 10px;
        line-height: 70px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;

        img {
            max-height: 100%;
        }
    }

    &__axlogo {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 1.2em;
        color: #fff;
    }

    &__title {
        overflow: hidden;
        height: 46px;
        margin-top: 8px;
        font-size: 1.2em;
        line-height: 1.2;
        font-weight: 500;
        color: #fff;
    }

    &__body {
        min-height: 200px;
        padding: 20px 14px 54px;
        font-size: .8em;
    }

    &__body-btn {
        position: absolute;
        right: 14px;
        left: 14px;
        bottom: 14px;
        text-align: center;
    }
}
