@import '../../../../assets/styles/config';

.ax-project-icon {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba($ax-color-gray-9, .1);

    &__header {
        position: relative;
        padding: 24px 14px 14px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #333;
        cursor: pointer;

        .ax-catalog-overview__project:nth-child(10n - 9) & {
            background: linear-gradient(135deg, #31a0cb, #4fc09f);
        }

        .ax-catalog-overview__project:nth-child(10n - 8) & {
            background: linear-gradient(135deg, #40ace4, #b98ac2);
        }

        .ax-catalog-overview__project:nth-child(10n - 7) & {
            background: linear-gradient(135deg, #4879e5, #ade75d);
        }

        .ax-catalog-overview__project:nth-child(10n - 6) & {
            background: linear-gradient(135deg, #7a6cc2, #8ab3c2);
        }

        .ax-catalog-overview__project:nth-child(10n - 5) & {
            background: linear-gradient(135deg, #c2b070, #a44a8c);
        }

        .ax-catalog-overview__project:nth-child(10n - 4) & {
            background: linear-gradient(135deg, #25d3c0, #e4c772);
        }

        .ax-catalog-overview__project:nth-child(10n - 3) & {
            background: linear-gradient(135deg, #e9d98e, #da8b55);
        }

        .ax-catalog-overview__project:nth-child(10n - 2) & {
            background: linear-gradient(135deg, #6e64b5, #e791dc);
        }

        .ax-catalog-overview__project:nth-child(10n - 1) & {
            background: linear-gradient(135deg, #4fcb79, #057883);
        }

        .ax-catalog-overview__project:nth-child(10n) & {
            background: linear-gradient(135deg, #8cc0ba, #3012a6);
        }
    }

    &__img {
        overflow: hidden;
        width: 70px;
        height: 70px;
        padding: 0 10px;
        line-height: 70px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;

        img {
            max-height: 100%;
        }
    }

    &__axlogo {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 1.2em;
        color: #fff;
    }

    &__title {
        overflow: hidden;
        height: 46px;
        margin-top: 8px;
        font-size: 1.2em;
        line-height: 1.2;
        font-weight: 500;
        color: #fff;
    }

    &__body {
        min-height: 200px;
        padding: 20px 14px 54px;
        font-size: .8em;
    }

    &__body-btn {
        position: absolute;
        right: 14px;
        left: 14px;
        bottom: 14px;
        text-align: center;
    }
}
