# common
awscli==1.11.125
boto3==1.4.4
Flask==0.10.1
kafka-python==1.3.1
PyJWT==1.4.2
python-dateutil==2.6.0
redis==2.10.3
requests==2.10.0
retrying==1.3.3
voluptuous==0.9.3
PyJWT==1.4.2
gevent==1.2.0
# Jinja2 needs to be pinned due to a problem with Jinja 2.9 (SyntaxError: 'yield' inside async function)
Jinja2==2.8
future==0.15.2
google-cloud==0.26.1

# gateway
jira==1.0.7

# axscheduler
APScheduler==3.2.0

# fixturemanager
pymongo==3.4.0

# axworkflowadc
transitions==0.4.0

# chaosmonkey
urllib3==1.18
websocket-client==0.37.0
PyYAML==3.12
certifi==2016.9.26

# test
pytest==3.0.1
responses==0.5.1
