@import '../../../../assets/styles/config';

.fixture-usage-chart {
    display: block;
    position: relative;
    min-width: 200px;

    &__legend {
        display: block;
        position: relative;
        width:100%;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
        line-height: 0;
        margin-top: 10px;
        font-weight: 400;
    }

    &__legend-item {
        color: $ax-color-gray-5;
        text-align: center;
        margin-bottom: 0.1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 1em;

        &::before {
            content: ' ';
            display: inline-block;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            vertical-align: middle;
            background-color: white;
            margin-bottom: 2px;
            margin-right: 2px;
        }

        &--deployments::before {
            background-color: #bf86f1;
        }

        &--workflows::before {
            background-color: #0055b9;
        }
    }

    &__center {
        display: block;
        position: relative;
        width: 50%;
        margin: auto;
    }

    &__total-counter {
        position: absolute;
        top: 44px;
        left: 50%;
        transform: translate(-50%);
        color: $ax-color-gray-5;

        & > label {
            display: block;
            font-weight: 300;
            font-size: 2.5em;
            line-height: 1em;
            text-align: center;
        }

        & > span {
            display: block;
            font-size: .8em;
            font-weight: 400;
            line-height: 1em;
            text-align: center;
        }
    }
}
