.ax-back-to-search {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 1;
    color: $ax-color-teal-6;

    i {
        font-size: 2em;
        color: $ax-color-teal-6;
    }
    
    &__with-text {
        position: relative;
        top: auto;
    }
}