.ax-jira-issues-list {
    position: relative;
    font-size: 14px;

    &__item {
        margin-top: 20px;
        margin-bottom: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__top {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__icon {
        width: 30px;
        font-size: 30px;
        position: absolute;
    }

    &__description {
        display: inline-block;
        padding: 12px 40px;
    }

    &__content {
    }

    &__footer {
        margin-left: 40px;
    }
}

.ax-jira-comments-list {
    position: relative;
    margin-left: 40px;

    &__item {

    }

    &__icon {
        width: 30px;
        font-size: 30px;
        position: absolute;
    }

    &__description {
        display: inline-block;
        padding: 5px 10px 10px 40px;
    }
}