.steps {
    margin-bottom: 30px;
    border-bottom: 1px solid $ax-color-gray-4;

    &__item {
        position: relative;
        display: inline-block;
        margin-right: 50px;
        padding: 50px 0 30px;
        font-weight: 500;
        text-transform: uppercase;

        &:not(.active):not(.done) {
            opacity: .4;
        }

        &.active {
            &:before,
            &:after {
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $ax-color-gray-4;
                content: '';
            }

            &:after {
                bottom: -2px;
                border-bottom-color: $ax-color-gray-2;
            }

            .steps__number {
                color: white;
                background-color: $ax-running-color;
            }
        }

        &.done {
            .steps__back-link {
                color: $ax-color-teal-6;
                cursor: pointer;
            }
        }
    }

    &__number {
        position: relative;
        top: -2px;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-right: 6px;
        font-weight: 300;
        font-size: 1.1em;
        line-height: 31px;
        text-align: center;
        background-color: $ax-color-gray-4;
        border-radius: 50%;

        .done & {
            color: $ax-color-white;
            background-color: $ax-status-success-color;
        }
    }
}
