.stream {
    position: relative;
    padding-bottom: 20px;

    &::before {
        position: absolute;
        top: -120px;
        bottom: 0;
        left: 7px;
        width: 1px;
        min-height: 100vh;
        background-color: $ax-color-gray-4;
        z-index: -1;
        content: '';
    }
}
