.total-jobs-box {
    display: flex;
    min-height: 300px;
    border-radius: $border-radius;
    box-shadow: 0 1px 1px #d0d0d0;
    position: relative;
    background-color: white;

    &__summary {
        flex: 3;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        color: white;

        & > h4 {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 0;
            font-size: 35px;
            font-weight: lighter;
        }

        & > p {
            font-size: 13px;
            text-align: center;
            margin-bottom: 40px;
        }

        & > ul {
            list-style: none;
            margin: 15px 20px;
            font-size: 13px;

            li {
                margin: 0 10px;
                padding: 8px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.1);

                &:last-child {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }

                & > span {
                    float: right;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }

        &--failed {
            background: linear-gradient(135deg, $ax-failed-color-dark 0%, $ax-failed-color-light 100%);
        }

        &--success {
            background: linear-gradient(135deg, $ax-success-color-dark 0%, $ax-success-color-light 100%);
        }

        &--run {
            background: linear-gradient(135deg, $ax-running-color-dark 0%, $ax-running-color-light 100%);
        }

        &--waiting {
            background: linear-gradient(135deg, $ax-waiting-color-dark 0%, $ax-waiting-color-light 100%);
        }
    }

    &__loaders {
        flex: 6;
    }

    &__details {
        flex: 4;
        display: flex;
    }
}
