@keyframes wavemove {
    from {left: -100%;}
    to {left: 100%;}
}
$wave-time: 2s;

.horizontally-wave-loader {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #fff, $ax-color-teal-3, #fff);
    width: 50%;
    height: 100%;
    animation: wavemove $wave-time infinite;
}

.limpidity {
    opacity: .3;
}