.DS_Store
*api/server/bin*
*api/server/src/git.apache.org*
*api/server/src/gopkg.in*
*api/server/src/golang.org*
*api/server/src/github.com*
*api/server/pkg/darwin_amd64*

/node_modules
dist/
npm-debug.log

/.tmp
/src/assets/**/*.map
/src/assets/styles/*.css
phantomjsdriver.log
Vagrantfile
.vscode
.idea