<div class="labels-filters__content">
	<h3>Select labels</h3>
	<div class="labels-filters__group" *ngFor="let labelGroup of labelGroups">
		<h6>{{labelGroup.labelKey}}</h6>
		<label class="labels-filters__group__row"  *ngFor="let label of labelGroup.labels">
             <div class="ax-checkbox">
                <input type="checkbox" id="isSelected" (change)="selectLabel(label)" [checked]="label.selected">
                <span><i class="fa fa-check"></i></span>
            </div>
            <span class="labels-filters__label-name">{{label.value}}</span>
        </label>
	</div>
    <div class="label-filters__group" *ngIf="!labelGroups.length">
        <h6>{{ 'There are no labels' | translate }}</h6>
    </div>
</div>