@import 'node_modules/argo-ui/src/styles/config';

.wf-filters-container {
    overflow: visible;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #8fa4b1;
    padding: 0 1em 0.75em 1em;
    margin: 12px 0;
    background-color: white;
}

.wf-filters-container p {
    margin: 0;
    margin-top: 1em;
    color: #6d7f8b;
    text-transform: uppercase;
}

.wf-filters-container__title {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 8px 0;
    font-size: 15px;
    background-color: transparent;
    border: 0;
}

.wf-filters-container__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}