@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.wf-summary-container {
    padding: 5px 0px;
    overflow: visible;
    position: relative;
    border-radius: 5px;
    padding: 0 1em 0.75em 1em;
    margin: 12px 0;

    @include themify($themes) {
        color: themed('text-1');
        box-shadow: 1px 1px 3px themed('shadow');
        background-color: themed('background-2');
    }

    &__title {
        width: 100%;
        max-width: 100%;
        padding: 8px 0;
        font-size: 15px;
        background-color: transparent;
        border: 0;
        margin: 0;
        margin-top: 1em;
        text-transform: uppercase;

        @include themify($themes) {
            color: themed('light-argo-gray-6');
        }
    }

    &__text{
        font-size: 16px;
    }

    &__subtext {
        font-size: 12px;
    }

    &__running {
        font-size: 16px;
        font-weight: bold;
        color: #0DADEA;
    }

    &__others {
        font-size: 12px;
        font-weight: bold;
    }
}
