.ui-select-container {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none !important;

    & .ui-select-match {
        .ui-select-toggle {
            text-align: left;
            background-color:white
        }
    }

    &.ui-select-multiple {
        & > .ui-select-search {
            font-size: 14px;
        }
    }

    & input {
        border: none !important;
        display: inline-block;
        min-width: 250px;
        width: 100%;
        background-color: $ax-color-gray-1;
    }

    & .ui-select-match {
        display: inline;
    }

    & .ui-select-toggle {
        width: 100%;
        background-color: $ax-color-gray-1;
        border: none;
        box-shadow: none;

        &:hover {
            color: black;
        }
    }

    & .ui-select-choices {
        width: 100%;

        & .ui-select-choices-row {
            padding: 5px 10px;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.4;
            cursor: pointer;

            &.active {
                background-color: #0DADEA !important;
                color: white !important;
            }

            & .ui-select-choices-row-inner {
                font-size: 13px;
                text-decoration: none;

                &:first-child {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }

                &:last-child {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        }
    }

    & a.ui-select-match-close {
        opacity: .8;
    }

    &:focus {
        outline: none;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .btn-xs, .btn-group-xs > .btn {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;

        & > .close {
            font-size: 15px;
        }
    }
}

.open > .dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $ax-color-gray-1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

a.ui-select-choices-row-inner {
    color: $ax-color-gray-7 !important;
}

.ui-select-container .ui-select-choices .ui-select-choices-row.active {
    background-color: $ax-color-teal-5 !important;
}

.ui-select-choices-row.active > a {
    background-color: $ax-color-teal-5 !important;
    color: white !important;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: 10px;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
