@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.wf-row-labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  $gutter: 0.5em;
  border-radius: 0 0 3px 3px;

  .tag {
    line-height: normal;
    border-radius: 3px;
    height: auto;
    margin: $gutter 0;
    margin-right: 10px;
    display: flex;
    overflow: hidden;
    cursor: pointer;

    @include themify($themes) {
      background-color: themed('background-2');
    }

    &:hover {
      .key {
        color: $argo-color-teal-5;
      }
      .value {
        color: $argo-color-gray-3;
      }
    }

    .key, .value {
      padding: 0.5em 8px;
    }

    .key {
      @include themify($themes) {
        color: themed('text-2');
      }
    }

    .value {
      color: white;
      background-color: $argo-color-teal-5;
    }
  }
}
