@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.node-search-bar {
  display: inline-block;
  margin-left: 10px;
}

.graph-options-panel {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  position: fixed;

  @include themify($themes) {
    background-color: themed('background-2');
    box-shadow: 1px 1px 3px themed('shadow');
  }

  div.argo-dropdown, a {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;

    @include themify($themes) {
      color: themed('light-argo-gray-6');
    }

    &.active {
      @include themify($themes) {
        background-color: themed('background-1');
        border: 1px solid themed('border');
      }
    }
  }
}

.graph {
  text-align: center;
  max-height: calc(100vh - 2 * #{$top-bar-height});

  .group {
    rect {
      fill: transparent;
      stroke: $argo-color-gray-4;
      stroke-dasharray: 4;
    }
  }

  text {
    text-anchor: middle;
    dominant-baseline: central;

    &.node-label {
      @include themify($themes) {
        fill: themed('text-2');
      }
    }
  }

  .node {
    cursor: pointer;

    text {
      fill: $argo-color-gray-1;
    }

    .bg {
      fill: $argo-color-gray-6;
    }

    &.Warning, &.Pending {
      .bg {
        fill: $argo-status-warning-color;
      }
    }

    &.Suspended {
      .bg {
        fill: $argo-status-warning-color;
      }

      animation: pulse 2s linear infinite;
    }

    &.Skipped, &.Omitted {
      .bg {
        fill: $argo-color-gray-6;
      }
    }

    &.Running {
      .bg {
        fill: $argo-running-color;
      }

      text.icon {
        animation: spin 1s linear infinite;
      }
    }

    &.Succeeded {
      .bg {
        fill: $argo-success-color;
      }
    }

    &.Error, &.Failed {
      .bg {
        fill: $argo-failed-color;
      }
    }

    &.selected {
      .bg {
        stroke: $argo-color-yellow;
      }
    }

    path.icon {
      fill: transparent;
      stroke: $argo-color-gray-2;
    }
  }

  .edge {
    text {
      @include themify($themes) {
        fill: themed('text-2');
      }
    }

    .line {
      fill: transparent;
      stroke: $argo-color-gray-4;
    }

    .edge-label {
      transform: rotate(-22.5deg);
    }

    &.arrow .line {
      marker-end: url(#arrow);
    }

    &.related .line {
      stroke-dasharray: 2;
    }
  }

  .arrow {
    fill: $argo-color-gray-4;
  }
}
