.pie-chart {
    width: 130px;
    height: 130px;
    margin: auto;

    .nvd3.nv-pie path {
        stroke: transparent;
        stroke-width: 0px;
        stroke-opacity: 1;
        fill-opacity: 1;
    }
}