<div class="content content--with-padding-top system-settings">
    <div class="ax-container">
        <div class="row white-box white-box--with-ico">
            <div class="columns small-12 large-7">
                <h6>{{ 'DNS Name' | translate }}</h6>
                <form role="form" [formGroup]="systemSettingsEditForm" *ngIf="systemSettingsEditForm" (ngSubmit)="saveSystemSettingsConfig(systemSettingsEditForm)">
                    <div class="ax-form-row">
                        <input id="dnsname" type="text" class="ax-field" formControlName="dnsname" autocomplete="off" ax-label-placeholder>
                        <label for="dnsname" class="ax-label-placeholder">{{ 'DNS name' | translate }}</label>
                        <div class="ax-form-row__error-msg" *ngIf="!systemSettingsEditForm.controls['dnsname'].valid && (systemSettingsEditForm.controls['dnsname'].touched || systemSettingsEditSubmitted)">DNS name is required<i class="fa fa-warning"></i></div>
                    </div>
                    <div class="ax-form-row margin-top-large">
                        <button type="submit" axButtonWave class="ax-button ax-button--base">{{ 'Save' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>

    <div class="row white-box">
           <div class="columns small-12 large-7">
               <h6>Access Settings</h6>
               <form role="form" [formGroup]="accessSettingsForm" *ngIf="accessSettingsForm" (ngSubmit)="saveAccessSettings()">
                   <div formArrayName="trustedCidrs">
                       <div class="ax-form-row">
                           <label>Trust CIDRs</label>
                           <div *ngFor="let cidr of accessSettingsForm.controls.trustedCidrs.controls; let i=index" class="ax-form-row row system-settings__cidr">
                               <div class="columns small-12">
                                   <input class="ax-field" type="text" id="trustedCidrs" required [formControlName]="i">
                                   <div class="ax-form-row__error-msg" *ngIf="accessSettingsForm.controls.trustedCidrs.controls[i].errors && accessSettingsForm.controls.trustedCidrs.controls[i].dirty">
                                       Please provide valid CIDR.
                                   </div>
                                   <i *ngIf="getCidrCtrls().length > 1" (click)="removeCidr(i)" class="fa fa-times system-settings__remove-cidr-btn clickable" aria-hidden="true"></i>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="ax-form-row margin-top-large">
                       <button axButtonWave class="ax-button ax-button--base-o" type="button" (click)="addCidr()">Add CIDR</button>
                       <button type="submit" axButtonWave class="ax-button ax-button--base">Save</button>
                   </div>
               </form>
           </div>
       </div>

       <div class="row white-box">
           <div class="columns small-12 large-7">
               <h6>Secret Management</h6>
               <form role="form" [formGroup]="secretManagementForm" *ngIf="secretManagementForm">
                   <div class="ax-form-row">
                       <textarea id="encryptionKey" type="text" class="ax-field" formControlName="key" autocomplete="off" autocomplete="off" rows="13" ax-label-placeholder></textarea>
                       <label for="encryptionKey" class="ax-label-placeholder">Encryption Key</label>
                       <div class="ax-form-row__error-msg" *ngIf="!secretManagementForm.controls['key'].valid && (secretManagementForm.controls['key'].touched || secretManagementSubmitted)">Key is required<i class="fa fa-warning"></i></div>
                   </div>
                   <div class="ax-form-row margin-top-large">
                       <button type="button" class="ax-button ax-button--base disabled" ax-tooltip="Only super admin user may see encryption key" *ngIf="!isSuperAdmin">View</button>
                       <button type="button" axButtonWave class="ax-button ax-button--base" [routerLink]="['.', {encryptionKey: 'true'}]" *ngIf="isSuperAdmin">View</button>
                       <button type="button" axButtonWave class="ax-button ax-button--base" (click)="saveSecretManagementSettings()">Update</button>
                   </div>
               </form>
           </div>
       </div>

       <ax-popup [show]="showEncryptionKeyPopup" [width]="500">
           <div class="system-settings__popup">
               <div *ngIf="samlLogin && needRelogin">
                   <button axButtonWave class="ax-button ax-button--base ax-button--full-width" (click)="relogin(true)">{{samlButtonLabel}}</button>
                   <p class="system-settings__saml-separator">or</p>
               </div>
               <form [formGroup]="loginForm" *ngIf="loginForm && needRelogin">
                   <div class="ax-form-row">
                       <input id="username" type="text" class="ax-field" formControlName="username" autocomplete="off"
                              ax-label-placeholder>
                       <label for="username" class="ax-label-placeholder">Username</label>
                       <div class="ax-form-row__error-msg" *ngIf="!loginForm.controls['username'].valid && (loginForm.controls['username'].touched || loginSubmitted)">Username is required<i class="fa fa-warning"></i></div>
                   </div>
                   <div class="ax-form-row">
                       <input id="password" type="password" class="ax-field" formControlName="password" autocomplete="off"
                              ax-label-placeholder>
                       <label for="password" class="ax-label-placeholder">Password</label>
                       <div class="ax-form-row__error-msg" *ngIf="!loginForm.controls['password'].valid && (loginForm.controls['password'].touched || loginSubmitted)">Password is required<i class="fa fa-warning"></i></div>
                   </div>
               </form>
               <div class="ax-form-row margin-top-large" *ngIf="needRelogin">
                   <button type="submit" axButtonWave class="ax-button ax-button--base" [routerLink]="['.', {encryptionKey: 'false'}]">Cancel</button>
                   <button type="submit" axButtonWave class="ax-button ax-button--base" (click)="relogin(false)">Login</button>
               </div>
               <div class="ax-form-row margin-top-large system-settings__encryption-key" *ngIf="!needRelogin">
                   {{encryptionKey}}
               </div>
               <div class="ax-form-row margin-top-large" *ngIf="!needRelogin">
                   <button type="submit" axButtonWave class="ax-button ax-button--base" [routerLink]="['.', {encryptionKey: 'false'}]">Done</button>
                   <button axButtonWave class="ax-button ax-button--base" [attr.data-clipboard-text]="encryptionKey" ax-copy-btn>Copy</button>
               </div>
           </div>
       </ax-popup>

       <div class="row white-box">
           <div class="columns small-12 large-7">
               <h6>Set certificate</h6>
           </div>
           <div class="columns small-12 large-7">
               <form role="form" [formGroup]="certEditForm" *ngIf="certEditForm" (ngSubmit)="saveCert(certEditForm)">
                   <div class="ax-form-row">
                       <textarea id="private_key" type="text" class="ax-field" formControlName="private_key"
                                 autocomplete="off" rows="13" ax-label-placeholder></textarea>
                       <label for="private_key" class="ax-label-placeholder">{{ 'Private key' | translate }}</label>
                       <div class="ax-form-row__error-msg" *ngIf="!certEditForm.controls['private_key'].valid && (certEditForm.controls['private_key'].touched || certEditSubmitted)">Private key is required<i class="fa fa-warning"></i></div>
                   </div>

                   <div class="ax-form-row">
                       <textarea id="public_cert" type="text" class="ax-field" formControlName="public_cert"
                                 autocomplete="off" rows="13" ax-label-placeholder></textarea>
                       <label for="public_cert" class="ax-label-placeholder">{{ 'Public Certificate' | translate }}</label>
                       <div class="ax-form-row__error-msg" *ngIf="!certEditForm.controls['public_cert'].valid && (certEditForm.controls['public_cert'].touched || certEditSubmitted)">Public cert is required<i class="fa fa-warning"></i></div>
                   </div>
                   <div class="ax-form-row margin-top-large">
                       <button type="submit" axButtonWave class="ax-button ax-button--base">{{ isEdit ? 'Update': 'Create' | translate }}</button>
                       <button axButtonWave class="ax-button ax-button--base" (click)="deleteCert(certEditForm)">{{ 'Delete' | translate }}</button>
                   </div>
               </form>
           </div>
       </div>

       <ax-spot-instances-panel></ax-spot-instances-panel>
    </div>
</div>