apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: executor
  annotations:
    workflows.argoproj.io/description: |
      Recommended minimum permissions for `pns` executor.
    workflows.argoproj.io/version: "< 3.4.0"
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - watch
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get