@import '../../../../../assets/styles/config';

.ax-field__clear {
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border-bottom: none;
    padding: 8px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

    &::placeholder {
        color: $ax-color-gray-5;
    }
}

.shaded-box {
    &__top {
        color: $ax-color-gray-6;
        height: 30px;

        & > span {
            font-weight: bolder;
        }

        &--right {
            float: right;

            & > i {
                cursor: pointer;
                font-size: 30px;
                color: $ax-color-teal-5;
            }
        }
    }

    &__content {
        border-radius: $border-radius;
        border: 1px solid $ax-color-gray-4;
        background-color: #F3F6F7;
        padding: 15px 39px;
    }
}

.criteria-row {
    display: block;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }

    &__47, &__49 {
        vertical-align: top;
        height: inherit;
        display: inline-block;
        min-width: 200px;
    }

    &__47 {
        width: 47%;
    }

    &__49 {
        width: 49%;
    }

    &__6 {
        vertical-align: top;
        height: inherit;
        display: inline-block;
        width: 4%;

        & > i {
            color: $ax-color-gray-4;
            cursor: pointer;
            line-height: 40px;
            float: right;
            font-size: 30px;
        }
    }
}

.rule-settings {
    padding: 0 10px 0 10px;
    display: block;

    &__control, &__message, &__btn {
        display: inline-block;
        line-height: 40px;
        height: 40px;
        padding: 2px 10px;
    }
}

.labels-horizontal-list {
    display: block;
    color: $ax-color-gray-6;

    &__top {
        display: block;
    }

    &__title {
        display: inline-block;
        font-size: 14px;
        margin: 8px 0;
    }

    &__add {
        float: right;
        display: inline;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 13px;
        padding: 9px 40px;

        & > a > span {
            font-size: 18px;
            line-height: 20px;
            vertical-align: middle;
        }
    }

    &__content {
        & > textarea {
            width: 100%;
            max-width: 100%;
            min-height: 70px;
            border-radius: 5px;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
            background-color: #FFFFFF;
            border: none;
            padding: 5px 10px;

            &::placeholder {
                color: $ax-color-gray-4;
            }

            &:focus {
                border: none;
                outline: none;
            }
        }
    }

    &__white-panel {
        padding-bottom: 5px;
        width: 100%;
        min-height: 70px;
        border-radius: $border-radius;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF;

        & > span {
            display: inline-block;
            background: $ax-color-gray-2;
            margin: 5px 0 0 5px;
            padding: 1px 10px;
            border-radius: $border-radius;
        }
    }
}