<div [ngClass]="{'extended-bg': layoutSettings.hasExtendedBg, 'hidden-toolbar': layoutSettings.hiddenToolbar, 'layout--playground-info': !!playgroundTask, 'has-tabs': layoutSettings.hasTabs}"
    class="layout" [class.opened-nav]="openedNav">
    <ax-notifications [leftOffset]="60"></ax-notifications>
    <ax-notification></ax-notification>
    <ax-notifications-panel [show]="showNotificationsCenter" (onClose)="toggleNotificationsCenter(false)"></ax-notifications-panel>
    <ax-navigation [branchNavPanelUrl]="layoutSettings?.branchNavPanelUrl" [branchNavPanelOpened]="branchNavPanelOpened" (onCloseNavPanel)="closeBranchNavPanel()" (onToggleNav)="toggleNav($event)"></ax-navigation>
    <div class="content-wrapper" [class.hidden-scrollbar]="hiddenScrollbar" [class.panel-off-canvas]="openedPanelOffCanvas">
        <ax-top-bar [settings]="layoutSettings"
                    (onOpenNotificationsCenter)="toggleNotificationsCenter(true)"
                    [openedNotificationsCenter]="showNotificationsCenter"
                    [animateNotificationIcon]="animateNotificationIcon"></ax-top-bar>
        <ax-toolbar [settings]="layoutSettings" (onOpenBranchNavPanel)="openBranchNavPanel()"></ax-toolbar>
        <router-outlet></router-outlet>
        <ax-loader></ax-loader>
    </div>
</div>
<ax-multiple-service-launch-panel></ax-multiple-service-launch-panel>
<ax-tutorial *ngIf="tutorialVisible"></ax-tutorial>
<ax-jira-issues-panel></ax-jira-issues-panel>
<ax-jira-issue-creator-panel></ax-jira-issue-creator-panel>
<ax-sliding-panel [show]="encryptionToolVisible" (closePanel)="closeEncryptionTool()">
    <sliding-panel-body>
        <form role="form" [formGroup]="encryptForm" (ngSubmit)="onEncryptFormSubmit(encryptForm)">
            <h2>Encrypt Secret</h2>
            <div class="ax-form-row">
                <label>Repository</label>
                <div class="ax-field">
                    <ax-dropdown-menu [settings]="getReposMenu()" *ngIf="reposLoaded">
                        {{ encryptForm.value.repo ? encryptForm.value.repo : 'Select repository' }}
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </ax-dropdown-menu>
                    <ax-loader-custom [size]="22" [position]="'unspecified'" *ngIf="!reposLoaded"></ax-loader-custom>
                </div>
                <div class="ax-form-row__error-msg"
                     *ngIf="!encryptForm.controls['repo'].valid && (encryptForm.controls['repo'].touched || encryptFormSubmitted)">
                    Repository is required<i class="fa fa-warning"></i>
                </div>
            </div>
            <div class="ax-form-row">
                <label for="name">Secret</label>
                <input id="name" type="text" class="ax-field" formControlName="secret" autocomplete="off">
                <div class="ax-form-row__error-msg"
                     *ngIf="!encryptForm.controls['secret'].valid && (encryptForm.controls['secret'].touched || encryptFormSubmitted)">
                    Secret is required<i class="fa fa-warning"></i>
                </div>
            </div>
            <div *ngIf="encryptedSecret" class="layout__secret">
                <span>{{encryptedSecret}}</span>
                <button type="button" axButtonWave class="ax-button ax-button--base copy-button" [attr.data-clipboard-text]="encryptedSecret" ax-copy-btn>Copy</button>
            </div>
            <div class="ax-form-row margin-top-large">
                <button type="button" axButtonWave class="ax-button" (click)="closeEncryptionTool()">Done</button>
                <button type="submit" axButtonWave class="ax-button ax-button--base">Encrypt</button>
            </div>
        </form>
    </sliding-panel-body>
</ax-sliding-panel>
<div *ngIf="playgroundTask" class="layout__playground-info">
    <ax-playground-info [taskInfo]="playgroundTask"></ax-playground-info>
</div>
