<div [ngClass]="{'extended-bg': layoutSettings.hasExtendedBg, 'hidden-toolbar': layoutSettings.hiddenToolbar, 'layout--playground-info': !!playgroundTask, 'has-tabs': layoutSettings.hasTabs}"
    class="layout" [class.opened-nav]="openedNav">
    <ax-notifications [leftOffset]="60"></ax-notifications>
    <ax-notification></ax-notification>
    <ax-notifications-panel [show]="showNotificationsCenter" (onClose)="toggleNotificationsCenter(false)"></ax-notifications-panel>
    <ax-navigation [branchNavPanelUrl]="layoutSettings?.branchNavPanelUrl" [branchNavPanelOpened]="branchNavPanelOpened" (onCloseNavPanel)="closeBranchNavPanel()" (onToggleNav)="toggleNav($event)"></ax-navigation>
    <div class="content-wrapper" [class.hidden-scrollbar]="hiddenScrollbar" [class.panel-off-canvas]="openedPanelOffCanvas">
        <ax-top-bar [settings]="layoutSettings"
                    (onOpenNotificationsCenter)="toggleNotificationsCenter(true)"
                    [openedNotificationsCenter]="showNotificationsCenter"
                    [animateNotificationIcon]="animateNotificationIcon"></ax-top-bar>
        <ax-toolbar [settings]="layoutSettings" (onOpenBranchNavPanel)="openBranchNavPanel()"></ax-toolbar>
        <router-outlet></router-outlet>
        <ax-loader></ax-loader>
    </div>
</div>
<ax-multiple-service-launch-panel></ax-multiple-service-launch-panel>
<ax-tutorial *ngIf="tutorialVisible"></ax-tutorial>
<ax-jira-issues-panel></ax-jira-issues-panel>
<ax-jira-issue-creator-panel></ax-jira-issue-creator-panel>

<div *ngIf="playgroundTask" class="layout__playground-info">
    <ax-playground-info [taskInfo]="playgroundTask"></ax-playground-info>
</div>
