/client/.gitignore
/client/.openapi-generator-ignore
/client/.openapi-generator/
/client/.travis.yml
/client/api
/client/build.gradle
/client/build.sbt
/client/docs
/client/git_push.sh
/client/gradle
/client/gradle.properties
/client/gradlew
/client/gradlew.bat
/client/pom.xml
/client/settings.gradle
/client/settings.xml
/client/swagger.json
/client/target