/client/.openapi-generator/
/client/api/
/client/src/
/client/gradle/
/client/.gitignore
/client/.openapi-generator-ignore
/client/.openapi-generator/
/client/.travis.yml
/client/api
/client/build.gradle
/client/build.sbt
/client/docs
/client/git_push.sh
/client/gradle
/client/gradle.properties
/client/gradlew
/client/*.*
