<div class="ax-table-list">
    <div>
        <div class="ax-table-list__head">
            <div class="row">
                <div class="columns small-3">
                    <div class="ax-checkbox">
                        <input type="checkbox" (change)="bulkUpdater.toggleAllSelection()" [checked]="bulkUpdater.isAllSelected" [disabled]="!dataLoaded">
                        <span><i class="fa fa-check"></i></span>
                    </div>
                    Name
                </div>
                <div class="columns small-2">Application</div>
                <div class="columns small-2">Status</div>
                <div class="columns small-2">Access Url</div>
                <div class="columns small-1">Instances</div>
            </div>
        </div>

        <div class="ax-table-list__row jobs-list__item" *ngFor="let deployment of items;">
            <div class="row" *ngIf="dataLoaded">
                <div class="columns small-3" ax-tooltip="{{ deployment.name }}">
                    <div class="row">
                        <div class="small-2 column">
                            <div class="ax-checkbox">
                                <input type="checkbox" (change)="bulkUpdater.toggleItemSelection(deployment); $event.stopPropagation();" [checked]="bulkUpdater.isSelected(deployment)" [disabled]="deployment.disabled"><span><i class="fa fa-check"></i></span>
                            </div>
                        </div>
                        <div class="small-10 column" (click)="navigateToDetails(deployment)">
                            <i class="ax-icon-deployment"></i> <span [ax-highlight-substring]="searchString">{{ deployment.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="columns small-2 text-truncate" (click)="navigateToDetails(deployment)">
                    <span>Application: <a (click)="navigateToApp(deployment)">{{ deployment.app_name }}</a></span>
                </div>
                <div class="columns small-2" [ax-highlight-substring]="searchString" ax-tooltip="{{ deployment.status }}" (click)="navigateToDetails(deployment)">
                    <ax-application-status [status]="deployment.status"></ax-application-status>
                </div>
                <div class="columns small-2" [ax-highlight-substring]="searchString" ax-tooltip="{{ deployment.endpoints }}" (click)="navigateToDetails(deployment)">
                    <a href="//{{deployment.getFirstExternalRoute()}}" target="_blank" (click)="$event.stopPropagation();"  *ngIf="deployment.getFirstExternalRoute()"><i class="ax-icon-external-link" aria-hidden="true"></i>Access Url</a>
                </div>
                <div class="columns small-3" [ax-highlight-substring]="searchString" (click)="navigateToDetails(deployment)">
                    <div class="pull-left deployment-panel__instances">
                        <div class="deployment-panel__instances-des">
                            Total Instances: <span>{{deployment?.instances?.length}}</span>
                        </div>
                        <div class="deployment-panel__instances-bar" *ngIf="deployment.instances?.length > 0">
                            <div class="bar" [style.width]="getActivePercentValue(deployment) + '%'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="dataLoaded && !items.length" class="ax-table__empty-row">
        <strong><i class="fa fa-info-circle"></i> {{ 'No data to display' | translate }}</strong>
    </div>

    <div *ngIf="!dataLoaded">
        <ax-loader-list-mockup [itemHeight]="60" [itemsLength]="limit"></ax-loader-list-mockup>
    </div>
</div>

<div class="bottom-toolbox bottom-toolbox--small">
    <div class="bottom-toolbox__wrapper">
        <div class="ax-container ax-container--full-width">
            <h3><em>{{ bulkUpdater.selectedCount }}</em> Deployment{{bulkUpdater.selectedCount != 1 ? 's' : ''}} selected</h3>
            <button axButtonWave class="ax-button ax-button--base-o" (click)="bulkUpdater.execute('start')" [disabled]="bulkUpdater.noApplicableSelected('start')">Start</button>
            <button axButtonWave class="ax-button ax-button--base-o" (click)="bulkUpdater.execute('stop')" [disabled]="bulkUpdater.noApplicableSelected('stop')">Stop</button>
            <button axButtonWave class="ax-button ax-button--base-o" (click)="bulkUpdater.execute('terminate')" [disabled]="bulkUpdater.noApplicableSelected('terminate')">Terminate</button>

            <div class="jobs-list__pagination-position">
                <ax-pagination [pagination]="pagination" [preventActions]="dataLoaded" (onPaginationChange)="onPaginationChange($event)"></ax-pagination>
            </div>
        </div>
    </div>
</div>
