 <div class="ax-workflow-stream">
    <div class="ax-workflow-stream__top">
        <div class="ax-workflow-stream__status">
            <div class="ax-workflow-stream__status-icon">
                <i class="fa" aria-hidden="true" ax-status-icon [status]="0"></i>
            </div>
            <div class="ax-workflow-stream__status-message">
                {{  workflow.metadata.creationTimestamp | timestamp }}
            </div>
        </div>
    </div>

    <div class="ax-workflow-stream__content">
        <div class="row collapse">
            <div class="columns medium-7">
                <div class="ax-workflow-stream__content-box" [routerLink]="['/timeline/', workflow.metadata.name]">
                    <ax-workflow-steps [workflow]="workflow"></ax-workflow-steps>
                </div>
            </div>
        </div>
    </div> 
</div>

