@import '../../../assets/styles/config';

.yaml-viewer {
  font: normal 13px/1.2 'Courier', sans-serif;
  color: $ax-color-gray-7;

  &__highlight {
    position: relative;
    color: white;
    background: $ax-color-teal-7;
    display: inline-block;
  }

  & > ol {
    margin: 0;
    counter-reset: item;
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    & > li {
      height: 18px;
      white-space: pre;

      &.highlight {
        color: white;
        background-color: $ax-color-teal-7;
      }

      &:before {
        width: 41px;
        text-align: right;
        display: inline-block;
        color: $ax-color-gray-7;
        background-color: $ax-color-gray-1;
        content: counter(item);
        counter-increment: item;
        padding-right: 10px;
      }
    }
  }
}
