@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.wf-filters-container {
    overflow: visible;
    position: relative;
    border-radius: 5px;
    padding: 0 1em 0.75em 1em;
    margin: 12px 0;

    @include themify($themes) {
        box-shadow: 1px 1px 3px themed('shadow');
        background-color: themed('background-2');
    }
}

.wf-filters-container p {
    margin: 0;
    margin-top: 1em;
    text-transform: uppercase;

    @include themify($themes) {
        color: themed('light-argo-gray-6');
    }
}

.wf-filters-container__title {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 8px 0;
    font-size: 15px;
    background-color: transparent;
    border: 0;
}
