<div class="project-details-panel">
    <div class="content">
        <div class="project-details-panel__header">
            <div class="ax-container">
                <div class="row">
                    <div class="columns small-8">
                        <h1>{{ project?.name }}</h1>
                    </div>
                    <div class="columns small-4">
                        <ax-project-launch-button [project]="project" *ngIf="project"></ax-project-launch-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-details-panel__body" *ngIf="project">
            <div class="ax-container">
                <div class="row">
                    <div class="columns small-8">
                        <div class="project-details-panel__section">
                            <h3>Description</h3>
                            <p>{{ project?.description }}</p>
                        </div>
                        <div class="project-details-panel__section project-details-panel__section--markdown">
                            <ax-markdown *ngIf="project?.assets?.detail" [markdown]="project?.assets?.detail"></ax-markdown>
                        </div>
                        <div class="project-details-panel__section">
                            <h3>Information</h3>
                            <div class="row project-details-panel__custom-field" *ngFor="let field of customFields; trackBy:byFieldName">
                                <div class="columns small-4">{{ field.name | uppercase }}</div>
                                <div class="columns small-8">{{ field.value }}</div>
                            </div>
                            <div class="row project-details-panel__custom-field" *ngIf="project?.repo">
                                <div class="columns small-4">{{ 'Repository' | uppercase }}</div>
                                <div class="columns small-8">{{ project?.repo }}</div>
                            </div>
                            <div class="row project-details-panel__custom-field" *ngIf="project?.branch">
                                <div class="columns small-4">{{ 'Branch' | uppercase }}</div>
                                <div class="columns small-8">{{ project?.branch }}</div>
                            </div>
                            <div class="row project-details-panel__custom-field" *ngIf="project?.categories.length">
                                <div class="columns small-4">{{ 'categories' | uppercase }}</div>
                                <div class="columns small-8">
                                    <ul class="project-details-panel__categories">
                                        <li *ngFor="let category of project?.categories">{{ category }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns small-4">
                        <div class="project-details-panel__labels-title" *ngIf="tags?.length">LABELS:</div>
                        <div *ngFor="let tag of tags">
                            <div class="project-details-panel__tag">{{ tag }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
