.ax-table {
    width: 100%;
    table-layout: fixed;
    color: $ax-color-gray-8;
    font-size: 0.8125rem;

    td, tr {
        padding: 24px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & > span {
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: text-bottom;
        }
    }

    tr.header {
        th {
            padding: 10px 20px;
            text-align: left;
            position: relative;
            font-weight: 500;
            font-size: .75rem;
            color: $ax-color-gray-6;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    tr.header {
        th.no-ellipsis {
            text-overflow: initial;
            overflow: initial;
        }
    }

    tr.header-secondary {
        background-color: #F2F2F2;
        border-bottom: 1px solid $ax-color-gray-3;
        border-top: 1px solid $ax-color-gray-3;
        th {
            padding: 20px;
            text-align: left;
            position: relative;
        }
    }

    tbody {
        box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.05);
        tr {
            background-color: #fff;
            border-bottom: 1px solid $ax-color-gray-3;

            &:hover {
                background-color: $ax-color-teal-1;
            }

            &.highlight {
                background-color: $ax-color-teal-1;
            }

            td {
                padding-left: 20px;
            }
        }
    }

    &--no-background {
        tbody {
            box-shadow: none;
            tr {
                background-color: transparent;
            }
        }
    }
    &--no-border {
        thead, tbody {
            tr {
                border: none;
            }

        }
    }

    &--center {
        text-align: center;
    }

    &--allow-overflow {
        overflow: visible !important;
    }

    &--light {
        td, tr {
            padding: 14px 10px;
            color: $ax-color-gray-5;
            font-size: 0.9rem;

            strong {
                font-weight: 500;
                color: $ax-color-gray-7;
            }
        }

        thead {
            border-bottom: 1px solid $ax-color-gray-3;
            tr {
                font-size: 0.8rem;
            }
        }

        tbody {
            box-shadow: none;

            tr {
                &:hover {
                    background-color: inherit;
                }
            }
        }
    }

    &__empty-row {
        position: relative;
        line-height: 60px;
        font-size: .875em;
        color: $ax-color-gray-6;
        background-color: #fff;
        border-radius: 4px;
        padding-left: 20px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }
}