apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: executor
  annotations:
    workflows.argoproj.io/description: |
      Recommended minimum permissions for the `docker` executor.

      This executor is superseded by  the `emissary` executor, so we do not recommend you use it anymore.
    workflows.argoproj.io/version: "< 3.4.0"
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
    verbs:
      - create
      - patch
