<div class="login">
    <div class="login__box">
        <div class="login__logo login__logo--neg">
        </div>
        <form role="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
            <div class="ax-form-row">
                <input class="ax-field" id="email" type="text" formControlName="email" ax-label-placeholder
                       autocomplete="off">
                <label for="email" class="ax-label-placeholder">{{ 'Email address' | translate }}</label>
                <div class="ax-form-row__error-msg" *ngIf="!resetPasswordForm.controls['email'].valid && (resetPasswordForm.controls['email'].touched || submitted)">{{ 'Email is incorrect' | translate }}</div>
            </div>
            <div class="login__form-row">
                <button axButtonWave class="ax-button ax-button--base ax-button--full-width ax-button--xlg" type="submit">
                    {{ 'Reset passowrd' | translate }}
                </button>
            </div>
            <div class="login__more-row">
                <a [routerLink]="['/login']">{{ 'Back to login' | translate }}</a>
            </div>
        </form>
    </div>
</div>
<ax-notifications></ax-notifications>