<div class="setup">
    <div class="setup__shortcut">
        <div class="argo"></div>
        <div class="logo"></div>
    </div>

    <div class="setup__box setup__box--forgot-password">
        <div class="setup__header">
            <h1>{{ 'Forgot Password' | translate }}?</h1>
        </div>
        <div class="setup__content setup__content--forgot-password">
            <div class="setup__back-btn">
                <a [routerLink]="['/login']">
                    <i class="ax-icon-back"></i>{{ 'Back' | translate | uppercase }}
                </a>
            </div>

            <form role="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
                <p>
                    {{ 'Enter the email address you used to create your Argo Account and we\'ll send you an email with a link to reset your password' | translate }}.
                </p>
                <div class="ax-form-row">
                    <input class="ax-field" id="email" type="text" formControlName="email" ax-label-placeholder
                           autocomplete="off">
                    <label for="email" class="ax-label-placeholder">{{ 'Email' | translate }}</label>
                    <div class="ax-form-row__error-msg" *ngIf="!resetPasswordForm.controls['email'].valid && (resetPasswordForm.controls['email'].touched || submitted)">{{ 'Email is incorrect' | translate }}</div>
                </div>
                <div class="login__form-row">
                    <button axButtonWave class="ax-button ax-button--base ax-button--full-width setup__btn" type="submit">
                        {{ 'Send email' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<ax-notifications></ax-notifications>