<div [ngClass]="{'ax-container': !isFullWidthContent}">
    <table class="ax-table artifacts__table" *ngIf="artifactGroups.length">
        <thead>
        <tr class="header">
            <th width="40%">
                {{'name' | uppercase}}
            </th>
            <th width="20%">{{'step name' | uppercase}}</th>
            <th width="20%">{{'path' | uppercase}}</th>
            <th width="20%">{{'date created' | uppercase}}</th>
        </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-artifactGroup [ngForOf]="artifactGroups">
                <tr *ngIf="artifactGroup.artifacts.length" class="artifacts__group-name-row">
                    <td colspan="4">
                        <strong>Artifacts</strong><br>
                        Artifacts are generated and used to process the workflow steps.
                    </td>
                </tr>
                <ng-template ngFor let-artifact [ngForOf]="artifactGroup.artifacts">
                    <tr *ngIf="!nodeName || nodeName == artifact.nodeName">
                        <td>
                            <span>
                                <a
                                    [href]="artifact.downloadUrl"
                                    ax-tooltip="{{artifact.name}}">
                                    <i class="fa fa-download artifacts__download-icon" aria-hidden="true"></i>
                                    {{artifact.name}}
                                </a>
                            </span>
                        </td>
                        <td><span ax-tooltip="{{artifact.stepName}}">{{artifact.stepName}}</span></td>
                        <td><span ax-tooltip="{{artifact.path }}">{{artifact.path}}</span></td>
                        <td><span ax-tooltip="{{artifact.dateCreated}}">{{artifact.dateCreated}}</span></td>
                    </tr>
                </ng-template>
            </ng-template>
        </tbody>

    </table>
    <div *ngIf="!artifactGroups.length" class="row">
        <div class="columns small-12 text-center">{{ 'No data to display' }}</div>
    </div>
</div>
