<div class="job-statuses">
    <span class="job-statuses__item job-statuses__item--successful">
        <i class="fa fa-square"></i> SUCCESSFUL: <strong>{{ successful }}</strong>
    </span>
    <span class="job-statuses__item job-statuses__item--failed">
        <i class="fa fa-square"></i> FAILED: <strong>{{ failed }}</strong>
    </span>
    <span class="job-statuses__item job-statuses__item--in-progress">
        <i class="fa fa-square"></i> IN-PROGRESS: <strong>{{ inProgress }}</strong>
    </span>
    <span class="job-statuses__item job-statuses__item--queued">
        <i class="fa fa-square"></i> QUEUED: <strong>{{ queued }}</strong>
    </span>
</div>
