<div class="workflow-details">
  <ax-tabs (selected)="tabChange($event.selectedTab.tabKey)" [selectedTabKey]="selectedTab" [fixedWidth]="true">
    <ax-tab tabKey="summary" tabTitle="SUMMARY">
      <div class="content content--with-padding-top">
        <div class="ax-container">
          <div class="workflow-details__summary-tab" *ngIf="workflow">
            <div class="workflow-details__summary-tab-row">
              <ax-workflow-details-box [workflow]="workflow"></ax-workflow-details-box>
            </div>
          </div>
        </div>
      </div>
    </ax-tab>
    <ax-tab tabKey="workflow" tabTitle="WORKFLOW">
      <ax-workflow-tree [workflowTree]="tree">
        <ng-template let-cell="cell" #nodeInfo>
          <div>
            <div class="workflow-details__node-status">
              <span class="text-truncate status-text" ax-tooltip="{{cell.status.phase}}">{{cell.status.phase}}</span>
            </div>

            <div [class]="getProgressClasses(cell)">
              <div class="workflow-details__node-progress-overlay">
                <div class="workflow-details__node-info-duration" [innerHTML]="cell.status.runDuration | duration:true">
                </div>
              </div>
            </div>
          </div>
          <div class="workflow-tree__node-info-footer">
            <span *ngIf="cell.status.finishedAt && cell.status.phase === 'Succeeded'">
                Completed at {{time(cell.status.finishedAt)}}
            </span>
            <span *ngIf="cell.status.finishedAt && cell.status.phase !== 'Succeeded'">
                Failed at {{time(cell.status.finishedAt)}}
            </span>
         </div>
          <div class="workflow-details__node-overlay">
            <ul>
              <li>
                <button axButtonWave class="ax-button ax-button--base-o" (click)="showYaml(cell)">
                  YAML
                </button>
              </li>
              <li>
                <button axButtonWave class="ax-button ax-button--base-o" (click)="showStepDetails(cell.nodeName, 'logs')">
                  LOGS
                </button>
              </li>
              <li>
                <button axButtonWave class="ax-button ax-button--base-o" (click)="showStepDetails(cell.nodeName, 'summary')">
                  DETAILS
                </button>
              </li>
              <li *ngIf="actionSettingsByNodeName.get(cell.nodeName)">
                  <ax-dropdown-menu [settings]="actionSettingsByNodeName.get(cell.nodeName)">
                      <button axButtonWave class="ax-button ax-button--base-o">
                          ACTIONS
                          <i class="fa fa-caret-down"></i>
                      </button>
                  </ax-dropdown-menu>
              </li>
            </ul>
          </div>
        </ng-template>
      </ax-workflow-tree>
    </ax-tab>
    <ax-tab tabKey="artifacts" tabTitle="ARTIFACTS">
      <ax-artifacts [workflowTree]="tree"></ax-artifacts>
    </ax-tab>
  </ax-tabs>
</div>


<ax-sliding-panel class="workflow-details__sliding-panel--adjust-close" [show]="!!stepDetailsPanel" [hasNoPadding]="true" (closePanel)="closeStepDetailsPanel()">
  <sliding-panel-body>
    <ax-workflow-step-details-box *ngIf="stepDetailsPanel"
        [tab]="stepDetailsPanel.tab"
        [nodeName]="stepDetailsPanel.nodeName"
        [workflowTree]="tree"
        (onTabSelected)="showStepDetails(stepDetailsPanel.nodeName, $event)">
    </ax-workflow-step-details-box>
  </sliding-panel-body>
</ax-sliding-panel>

<ax-sliding-panel class="template-viewer__yaml workflow-details__sliding-panel--adjust-body-height" [show]="isYamlVisible" (closePanel)="closeYaml()" [hasNoPadding]="true" [offCanvas]="true">
  <sliding-panel-header>
    <div class="template-viewer__yaml-header"></div>
    <i class="ax-icon-workflow"></i> <strong>{{ selectedStep }}</strong>
  </sliding-panel-header>
  <sliding-panel-body>
    <ax-yaml-viewer [input]="{tree: tree, selectedStep: selectedYamlStep}"></ax-yaml-viewer>
  </sliding-panel-body>
</ax-sliding-panel>
