@import '../../../assets/styles/config';
.workflow-details {
    &__node-overlay {
        position: absolute;
        left: -1em;
        top: -1em;
        right: -1em;
        bottom: calc(-1em - 50px);
        background: linear-gradient(to bottom, rgba($white-color, 1) 200px, rgba($white-color, .7));
        border: 1em solid rgba($ax-color-gray-2, .7);
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        ul {
            margin-left: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            li {
                list-style-type: none;
                margin-bottom: 1em;
                button {
                    width: 85px;
                }
                .ax-dropdown__content.is-menu {
                    overflow: visible;
                    ul {
                        top: 20px;
                        left: 25px;
                        width: max-content;
                        z-index: 10;
                        background-color: #FFFFFF;
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                        transition: opacity .2s, transform .2s, visibility .2s;
                        li {
                            width: max-content;
                            margin-bottom: 0;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    &__sliding-panel {
        &--adjust-close {
            .sliding-panel__close {
                z-index: 2;
                top: 13px;
            }
        }

        &--adjust-body-height {
          .sliding-panel__body {
            height: calc(100% - 156px) !important;
          }
        }
    }

    .workflow-tree__node:hover {
        .ax-button {
          padding: 5px 12px;
        }
        .workflow-details__node-overlay {
            visibility: visible;
            opacity: 1;
            .ax-button {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            ax-job-actions {
                .ax-button {
                    padding: 5px 12px;
                }
            }
        }
        .workflow-tree__node-actions {
            display: none;
        }
    }
    &__summary-tab {
        padding: 0 0 10px;
        &-row {
            padding: 0 0 10px;
            button {
                width: 200px;
            }
        }
    }
    &__status-text {
        color: $ax-color-gray-5;
    }
    $step: 1;
    $loops: round(10 / $step);
    $increment: 30;
    @for $i from 0 through $loops {
        &__step-layer--#{$i*$step} {
            .expanded & {
                padding-left: $i*$increment + 22;
            }
        }
    }
    &__node-info-duration {
        position: relative;
        top: 50%;
        font-size: 13px;
        transform: translateY(-50%);
        span {
            display: block;
            font-size: 14px;
            white-space: pre-wrap;
        }
    }
    &__node-status {
        width: 100%;
        height: 26px;
        padding-top: 3px;
        overflow: hidden;
        color: $ax-color-gray-5;
        font-size: 13px;
        text-align: center;
        margin-top: 24px;
        .status-text {
            text-overflow: ellipsis;
            width: calc(100% - 15px);
            float: left;
        }
        .warning-text {
            width: 15px;
        }
    }
    $runningBarColor: #08B789;
    $failedBarColor: #DE3847;
    $overlayColor: white;
    $backColor: #EFEFEF;
    $outer-diameter: 106px;
    $inner-diameter: 90px;
    &__node-progress {
        position: relative;
        width: $outer-diameter;
        height: $outer-diameter;
        border-radius: 50%;
        border: 2px solid $backColor;
        margin: 0 auto;
    }
    &__node-progress-overlay {
        width: $inner-diameter;
        height: $inner-diameter;
        background-color: $overlayColor;
        border-radius: 50%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
    }
    $step: 1;
    $loops: round(100 / $step);
    $increment: 360 / $loops;
    $half: round($loops / 2);
    @for $i from 0 through $loops {
        &__node-progress--#{$i*$step}-failed {
            @if $i < $half {
                $nextdeg: 90deg + ( $increment * $i);
                background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $failedBarColor 50%, $backColor 50%, $backColor);
            }
            @else {
                $nextdeg: -90deg + ( $increment * ( $i - $half));
                background-image: linear-gradient($nextdeg, $failedBarColor 50%, transparent 50%, transparent), linear-gradient(270deg, $failedBarColor 50%, $backColor 50%, $backColor);
            }
            @if $i>0 {
                &:after {
                    background-color: #dadada;
                }
            }
        }
        &__node-progress--#{$i*$step}-running {
            @if $i < $half {
                $nextdeg: 90deg + ( $increment * $i);
                background-image: linear-gradient( 90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $runningBarColor 50%, $backColor 50%, $backColor);
            }
            @else {
                $nextdeg: -90deg + ( $increment * ( $i - $half));
                background-image: linear-gradient( $nextdeg, $runningBarColor 50%, transparent 50%, transparent), linear-gradient(270deg, $runningBarColor 50%, $backColor 50%, $backColor);
            }
            @if $i>0 {
                &:after {
                    background-color: #08B789;
                }
            }
        }
    }
}
