#elasticsearch>=1.7.0
#South>=1.0.2
#django-extensions>=1.5.5
#pymongo>=3.0.3
#redis>=2.10.3
#redlock-py>=1.0.5
#ipython>=3.2.1
#Django==1.6.5
#django-cron==0.3.5
#djangorestframework>=2.4.3
#TestLink-API-Python-client>=0.6.1
