@import 'node_modules/argo-ui/src/styles/config';
@import 'node_modules/argo-ui/src/styles/theme';

.help-box {
    min-height: 530px;
    margin: 30px 10px;
    padding: 80px 40px;
    text-align: center;

    @include themify($themes) {
        background-color: themed('background-2');
        box-shadow: 0 0 3px themed('shadow');
    }

    &__ico {
        width: 180px;
        height: 180px;
        margin: 0 auto;
        background-size: 100%;

        .theme-light & {
            opacity: .5;
        }

        .theme-dark & {
            opacity: .7;
            filter: invert(1);
        }

        &--manual {
            background-image: url('assets/images/User-Manual-200.png');
        }

        &--email {
            background-image: url('assets/images/Message-200.png');
        }

        &--download {
            background-image: url('assets/images/Download-200.png');
        }
    }

    &__docker-logo {
        width: 23px;
        height: 23px;
        vertical-align: baseline;
    }

    h3 {
        margin: 40px 0 60px;
        font-size: 22px;

        @include themify($themes) {
            color: themed('text-1');
        }
    }

    a {
        font-size: 18px;
        font-weight: bold;
    }

    &__link {
        display: block;
    }

    &__download {
        i {
            width: 30px;
            font-size: 24px;
            text-align: center;
        }
    }
}
