<div class="setup">
    <div class="setup__shortcut">
        <div class="argo"></div>
        <div class="logo"></div>
    </div>

    <div class="setup__box setup__box--forgot-password-confirm">
        <div class="setup__header">
            <h1>{{ 'Password Reset Email Sent' | translate }}</h1>
        </div>
        <div class="setup__content setup__content--forgot-password-confirm">
            <p>
                {{ 'Please check your inbox. We just emailed you a link to reset your password. If you don\'t receive anything, first check your spam folder and then try again.' | translate }}.
            </p>

            <div class="setup__btn-center setup__btn-center--additional-top-margin">
                <a axButtonWave class="ax-button ax-button--base-o setup__btn" routerLink="/login">
                    {{ 'Sign In' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>