$axFontsDirectorPath: "../../node_modules/ui-lib/src/assets/fonts";
@import 'node_modules/ui-lib/src/assets/styles/gui-lib';
@import '../assets/styles/config';

.content-wrapper {
  padding: $top-bar-height 0 0 $nav-width;
  position: relative;
  display: block;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  transition: transform .4s;

  &.hidden-scrollbar {
    height: 100%;
  }
}

.content {
  position: relative;
  padding-bottom: 30px;
  transition: width .5s;
  width: 100%;

  &[ax-infinite-scroll],
  &--internal-scroll {
    height: calc(100vh - #{$top-bar-height + $toolbar-height});
    overflow: hidden;
    overflow-y: auto;
  }

  .tabs__content &[ax-infinite-scroll],
  .has-tabs &.content--internal-scroll {
    height: calc(100vh - 156px);
  }

  &.ax-inifnite-scroll--without-filter-bar[ax-infinite-scroll] {
    height: calc(100vh - #{$top-bar-height});
  }

  &--with-padding-top {
    padding-top: 36px;
  }

  &--without-padding-bottom {
    padding-bottom: 0;
  }
}

.ax-container {
  position: relative;
  width: $basePageWidth + 160;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;

  &--additional-padding {
      padding: 0 30px;
  }

  &--full-width {
      width: 100%;
  }
}

.fl {
  float:left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
