@import '../../../../../assets/styles/config';

.navigation-panel {
    position: fixed;
    top: $top-bar-height;
    bottom: 0;
    left: $nav-width;
    padding: $toolbar-height 0 0;
    z-index: $nav-z-index;
    width: $nav-panel-width;
    background-color: $ax-color-white;
    box-shadow: 3px 3px 3px rgba(#000, .1);
    transition: left .3s, visibility .3s;

    :not(.is-shown) > & {
        left: -$nav-panel-width;
        visibility: hidden;
    }

    &.has-footer {
        padding-bottom: $top-bar-height;
    }

    &__header {
        position: absolute;
        top: 0;
        width: 100%;
        height: $toolbar-height;
        padding: 0 28px 0 78px;
        font-weight: 300;
        color: $ax-color-teal-7;
        line-height: $toolbar-height;
        font-size: .9em;
        text-transform: uppercase;
        background-color: $ax-color-gray-2;
        border-bottom: 1px solid $ax-color-gray-3;
    }

    &__body {
        height: 100%;
        overflow: auto;

        h2 {
            font-size: 30px;
            color: $ax-color-teal-6;
        }

        p {
            font-size: 14px;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $top-bar-height;
        padding: 0 28px;
        line-height: $top-bar-height;
        font-size: 13px;
        color: #999;
        border-top: 1px solid #ddd;
    }

    &__footer-btn {
        padding-top: 22px;
    }

    &__close {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        border: 1px solid $ax-color-gray-3;
        border-radius: 3px;
        width: 34px;
        height: 28px;

        &:hover {
            background-color: $ax-color-gray-3;
        }

        button {
            position: absolute;
            top: -2px;
            left: 2px;
        }
    }
}

.navigation-panel-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: $nav-width;
    transition: opacity .4s, visibility 0s;

    :not(.is-shown) > & {
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility 0s .4s;
    }
}
