apiVersion: v1
kind: Service
metadata:
  name: haproxy
  namespace: argo
  labels:
    app: haproxy
spec:
  selector:
    app: haproxy
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    protocol: TCP
  - name: stats
    port: 8404
    targetPort: 8404
    protocol: TCP
  type: ClusterIP