.config-management-overview {
    // TODO (alexander): Create common classes for intro page state
    &__intro {
        position: relative;
        overflow: hidden;
        margin-bottom: 60px;
        padding-right: 60px;
    }

    &__intro-ico {
        float: left;
        width: 240px;
        height: 240px;
        margin-right: 30px;
        font-size: 100px;
        color: #afc2c9;
        line-height: 240px;
        text-align: center;
        background: linear-gradient(90deg, #d0e0eb, #c8e6eb);
        border-radius: 50%;
    }

    &__intro-des {
        width: auto;
        overflow: hidden;
        color: #6d7f8b;
    }

    &__intro-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        color: #aaa;
        cursor: pointer;
    }
}