<div class="ax-table-list ax-table-list--clickable projects-list">
    <template ngFor let-project [ngForOf]="projects" let-i="index" *ngIf="!loading">
        <div class="ax-table-list__row" [routerLink]="[project.id]">
            <div class="row">
                <div class="columns small-1 projects-list__icon-container">
                    <img class="projects-list__icon" [src]="project?.assets?.icon">
                </div>
                <div class="columns small-3">
                    {{project.name}}
                </div>
                <div class="columns small-4">
                    {{project.description}}
                </div>
            </div>
        </div>
    </template>
    <div class="ax-table-list__row" *ngIf="!projects?.length">
        <div class="row">
            <div class="columns small-12">There are no projects to display for selected filter.</div>
        </div>
    </div>
</div>
