@import 'node_modules/argo-ui/src/styles/config';

@keyframes data-flowing {
  to {;
    stroke-dashoffset: -64;
    stroke: $argo-color-yellow;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.graph-options-panel {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 3px $argo-color-gray-5;

  a {
    padding: 10px;
    color: $argo-color-gray-6;
    border: 1px solid transparent;
    border-radius: 5px;

    &.active {
      background-color: $argo-color-gray-3;
      border: 1px solid $argo-color-gray-4;
    }
  }
}

.graph {
  overflow: scroll;
  text-align: center;

  #BgDefault {
    .color-stop {
      stop-color: $argo-color-gray-6;
    }

    .color-bot {
      stop-color: $argo-color-gray-7;
    }
  }

  #BgWarning {
    .color-stop {
      stop-color: $argo-status-warning-color;
    }

    .color-bot {
      stop-color: lighten($argo-status-warning-color, 5%)
    }
  }

  #BgRunning {
    .color-stop {
      stop-color: $argo-running-color;
    }

    .color-bot {
      stop-color: lighten($argo-running-color, 5%)
    }
  }

  #BgSucceeded {
    .color-stop {
      stop-color: $argo-success-color;
    }

    .color-bot {
      stop-color: lighten($argo-success-color, 5%)
    }
  }

  #BgFailed {
    .color-stop {
      stop-color: $argo-status-failed-color;
    }

    .color-bot {
      stop-color: lighten($argo-status-failed-color, 5%)
    }
  }


  .group {
    rect {
      fill: transparent;
      stroke: $argo-color-gray-4;
      stroke-dasharray: 4;
    }
  }

  text {
    text-anchor: middle;
    dominant-baseline: middle;

    &.node-label {
      fill: $argo-color-gray-8;
    }
  }

  .node {
    cursor: pointer;

    text {
      fill: $argo-color-gray-1;
      opacity: 90%;

      &.icon {
        font-family: "Font Awesome 5 Free", serif;
      }
    }

    .bg {
      fill: url(#BgDefault) $argo-color-gray-6;
    }

    &.Warning, &.Pending, &.Listening {
      .bg {
        fill: url(#BgWarning) $argo-status-warning-color;
      }
    }

    &.Suspended {
      .bg {
        fill: url(#BgDefault) $argo-color-gray-6;
      }
    }

    &.Running {
      .bg {
        fill: url(#BgRunning) $argo-running-color;
      }

      text.icon {
        animation: spin 1s linear infinite;
      }
    }

    &.Succeeded {
      .bg {
        fill: url(#BgSucceeded) $argo-success-color;
      }
    }

    &.Error, &.Failed {
      .bg {

        fill: url(#BgFailed) $argo-failed-color;
      }
    }

    &.selected {
      .bg {
        stroke: $argo-color-yellow;
        stroke-width: 3;
      }
    }

    path.icon {
      fill: transparent;
      stroke: $argo-color-gray-2;
      stroke-width: 4;
    }
  }

  .edge {
    text {
      fill: $argo-color-gray-8;
    }

    .line {
      fill: transparent;
      stroke-width: 2;
      stroke: $argo-color-gray-4;
    }

    .edge-label {
      transform: rotate(-22.5deg);
    }

    &.arrow .line {
      marker-end: url(#arrow);
    }

    &.data .line {
      stroke-dasharray: 8;
      stroke-width: 4;
    }

    &.data.active .line {
      animation: data-flowing 2s ease-in-out infinite;
    }

    &.related .line {
      stroke-dasharray: 2;
    }
  }

  .arrow {
    fill: $argo-color-gray-4;
  }
}