@import '../../assets/styles/config';

.layout {
    overflow: hidden;

    &__loader {
      background-color: rgba($ax-color-gray-7, 0.4);
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 999999;

      .loader-inner {
        left: 50%;
        position: absolute;
        bottom: 50%;
        transform: translateX(-50%) translateY(-50%);

        & > div {
          background: #F07A51;
        }
      }
    }
}

.layout__secret {
    position: relative;
    padding: 2em;
    border: 1px solid $ax-color-gray-4;
    border-radius: 5px;

    span {
        height: 38px;
        display: block;
        overflow-x: auto;
        overflow-y: auto;
        margin-right: 70px;
    }

    button {
        position: absolute;
        right: 1em;
        bottom: 34px;
    }
}

.layout__playground-info {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.layout--playground-info .nav__bar {
    bottom: 5.5em;
}
