<div>
    <div class="notification-summary">
        <div class="notification-summary__ico">
            <i class="fa" [ngClass]="{'fa-info-circle': notification.severity === 'info', 'fa-warning': notification.severity === 'warning', 'fa-times-circle': notification.severity === 'critical'}"></i>
        </div>
        <div class="notification-summary__content">
            <div class="notification-summary__msg">{{ notification.message }}</div>
            <div>Date: {{ notification.timestamp / 1000 / 1000 | axShortDateTime }}</div>
            <div>Code: <span class="highlight">{{ notification.code }}</span></div>
            <div *ngIf="notification.acknowledged_by">Acknowledged By: <span class="highlight">{{ notification.acknowledged_by }}</span></div>
        </div>
    </div>
</div>
