@import '../../../assets/styles/config';

$node-width: 190px;
$node-paddings: 70px;
$connectorColor: #8FA4B1;

.workflow-tree {

    &__node-container {
        display: inline-block;
        vertical-align: top;
    }

    white-space: nowrap;

    &__table {
        width: auto;

        tr, td, th {
            padding-left: $node-paddings;
            border: none;
            overflow: visible;
            &:hover {
                background-color: inherit;
            }
        }

        td:first-child, th:first-child {
            padding-left: 20px;
        }
    }

    &__table-headline {
        border-left: 1px solid $ax-color-gray-5;
        color: $ax-color-gray-5;
        margin-left: 80px;
        padding-left: 5px;
        height: 40px;
        font-size: 12px;
        text-align: left;
    }

    &__node {
        position: relative;
        margin: 10px;
        box-shadow: 1px 1px 1px $ax-color-gray-4;
        border-radius: 4px;
        border: 1px solid transparent;

        &.active {
            border-color: $ax-color-teal-6;
        }
    }

    &__node-collapser {
        position: absolute;
        left: $node-width + 4px;
        top: 145px;
        z-index: 1;
        height: 24px;
        width: 24px;
        font-size: 11px;
        line-height: 23px;
        color: $ax-color-teal-6;
        text-align: center;
        border: 1px solid $ax-color-teal-6;
        background-color: $ax-color-gray-2;
        border-radius: 50%;
        cursor: pointer;

        .fa {
            line-height: inherit;
        }
    }

    &__node-expanded {
        padding-top: 270px;
    }

    &__node-expander {
        position: absolute;
        left: $node-width - 14px;
        top: 0;
        bottom: 0;
        padding-top: 113px;
        z-index: 1;
        color: $ax-color-teal-6;
        cursor: pointer;
    }

    &__node-expander-deck {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 12px;
        width: $node-width - 11px;
        background-color: #F6F6F7;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        z-index: -1;

        &::before,
        &::after {
            position: absolute;
            top: -1px;
            right: 5px;
            bottom: -1px;
            left: 10px;
            background-color: #F6F6F7;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            content: '';
        }

        &::after {
            right: 11px;
        }
    }

    &__node-right-connector {
        position: absolute;
        border-top: 1px dashed $connectorColor;
        top: 120px;
        left: $node-width - 18px;
        right: -$node-paddings;
        content: '';

        &:after {
            content: '\25BA';
            position: absolute;
            color: #A3A3A3;
            font-size: 10px;
            top: -7px;
            right: -10px;
        }
    }

    &__node-down-connector {
        position: absolute;
        top: -115px;
        left: 25px;
        width: 1px;
        border-left: 1px dashed $connectorColor;
        border-bottom: 1px dashed $connectorColor;

        &:not(&--nested):after {
            content: '';
            position: absolute;
            border-bottom: 1px dashed $connectorColor;
            height: 1px;
            left: -33px;
            width: 35px;
        }

        &--nested {
            top: 120px;
        }
    }

    &__node-down-connector-arrow {
        position: absolute;
        left: -55px;
        right: calc(100% + 3px);
        top: 109px;

        border-bottom: 1px dashed $connectorColor;
        &:after {
            content: '\25BA';
            position: absolute;
            color: #A3A3A3;
            font-size: 10px;
            top: -5px;
            right: -2px;
        }
    }

    &__tree-connector {
        position: absolute;
        top: 120px;
        bottom: -120px;
        left: -20px;
        border-left: 1px dashed $connectorColor;
        border-bottom: 1px dashed $connectorColor;
        width: 20px;
        &:after {
            content: '\25BA';
            position: absolute;
            color: #A3A3A3;
            font-size: 10px;
            bottom: -10px;
            right: -10px;
        }
    }

    &__node-footer, &__node-info {
        width: 160px;
        padding: 10px;
        font-size: 13px;
    }

    &__node-title {
        font-size: 13px;
        line-height: 30px;
        overflow: hidden;
        margin-right: 17px;
        color: $ax-color-teal-6;
        font-weight: lighter;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        cursor: pointer;

        .active & {
            font-weight: 500;
        }
    }

    &__node-actions {
        position: absolute;
        bottom: 4px;
        right: 6px;
    }

    &__node-info {
        position: relative;
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #FFFFFF;
        height: 200px;
        text-align: center;
        color: #B5B5B5;

        .tooltip {
            .tooltip-inner {
                padding: 10px 20px 10px 20px;
                background-color: $ax-color-gray-1;
                color: $ax-color-gray-7;
                border: 1px solid #e8e8e8;
                text-align: left;
            }
        }
    }

    &__node-fixtures {
        height: 24px;
        text-align: left;

        img {
            height: 100%;
        }
    }

    &__node-info-footer {
        position: absolute;
        bottom: 8px;
        white-space: nowrap;
        font-size: 11px;
        text-align: center;
        left: 0;
        right: 0;
    }

    &__node-footer {
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #F6F6F7;
        font-weight: bold;
        height: 50px;
    }

    &__task-details-body {
        height: calc(100% - 65px - 116px);
    }

    &__task-details-footer {
        height: 60px;
        margin: 16px 0 0;
        line-height: 60px;
        border-top: 1px solid #c6cfd1;

        a {
            color: $ax-color-teal-6;
        }
    }

    &__back-to-top {
        font-size: 12px;
        font-weight: bold;

        &__ico {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-right: 4px;
            text-align: center;
            color: white !important;
            background-color: $ax-color-teal-6;
            border-radius: 50%;
            line-height: 26px;

            .fa {
                line-height: 26px;
            }
        }
    }

    &__task-details-artifacts {
        position: absolute;
        z-index: 2;
        top: 7px;
        right: 16px;

        &--btn-pos {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__second-bar {
        height: 48px;
        display: block;
        width: 100%;
    }
}

.workflow-fixtures-logs {
    margin: -16px;

    &__nav {
        float: left;
        width: 300px;
        white-space: nowrap;
    }

    &__nav-item {
        padding: 18px;
        border-left: 6px solid transparent;
        cursor: pointer;
        position: relative;

        .fixture-status {
            margin-right: 4px;
        }

        &.active {
            border-color: $ax-color-teal-6;
            background-color: $ax-color-white;
        }
    }

    &__nav-menu {
        position: absolute;
        top: 1em;
        right: 0;
    }

    &__content {
        position: relative;
        width: auto;
        height: calc(100vh - 230px);
        padding: 10px;
        overflow: auto;
        background-color: $ax-color-white;
    }

    &__footer {
        position: absolute;
        left: 300px;
        right: 16px;
        bottom: -76px;
        height: 60px;
        margin: 16px 0 0;
        line-height: 60px;
        border-top: 1px solid #c6cfd1;

        a {
            color: $ax-color-teal-6;
        }

        .ax-button {
            margin-top: 16px;
        }
    }
}
