<div style="padding-left: 70px; position: relative;">
    <div *ngFor="let info of nodesInfo; let isFirst = first; let isLast = last;" class="clearfix" style="position: relative;">
        <div *ngIf="!isLast && !hideTreeConnector" class="workflow-tree__tree-connector"></div>
        <div class="fl">
            <ax-workflow-tree-node
                [workflowNodeActionsTemplate]="workflowNodeActionsTemplate"
                [clickable]="nodeClickable"
                [workflowNodeInfoTemplate]="workflowNodeInfoTemplate" [activeStep]="activeStep"
                [rootTask]="rootTask" [hasDownConnectorArrow]="hasDownConnectorArrow" [cell]="info"
            (onSelectTask)="selectTask($event)" (onGetYaml)="getYaml($event)"></ax-workflow-tree-node>
            <div *ngIf="hasRightConnector && isFirst" class="workflow-tree__node-right-connector"></div>
        </div>
        <div *ngIf="!isExpanded(info) && info.children && info.children.length > 0" class="workflow-tree__node-expander-deck"></div>
        <div *ngIf="!isExpanded(info) && info.children && info.children.length > 0" class="workflow-tree__node-expander"
             (click)="toggleExpanded(info)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="fl workflow-tree__node-expanded" *ngIf="isExpanded(info) && info.children && info.children.length > 0">
            <div class="workflow-tree__node-collapser" (click)="toggleExpanded(info)">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="workflow-tree__node-container" *ngFor="let childGroup of info.children; let isLast = last; let isFirst = first;" style="position: relative">
                <div *ngIf="isFirst" class="workflow-tree__node-down-connector"></div>
                <div *ngIf="!isFirst" class="workflow-tree__node-down-connector workflow-tree__node-down-connector--nested"></div>
                <ax-workflow-subtree [expandedTaskIds]="expandedTaskIds" [hideTreeConnector]="true" [rootTask]="rootTask"
                                     [hasDownConnectorArrow]="true" [nodes]="childGroup" [hasRightConnector]="!isLast"
                                     [workflowNodeActionsTemplate]="workflowNodeActionsTemplate"
                                     [workflowNodeInfoTemplate]="workflowNodeInfoTemplate" [activeStep]="activeStep"
                                     [nodeClickable]="nodeClickable"
                                     (onSelectTask)="selectTask($event)" (onGetYaml)="getYaml($event)"></ax-workflow-subtree>
            </div>
        </div>
    </div>
</div>
