<div class="setup">
    <div class="setup__shortcut">
        <div class="argo"></div>
        <div class="logo"></div>
    </div>

    <div class="setup__box">
        <div class="setup__header">
            <h1>{{ 'Thanks for joining Argo!' | translate }}</h1>
        </div>
        <div class="setup__content setup__content--setup-confirm">
            <p>
                {{ 'Check your email and click the link to set up your new account.' | translate }}
            </p>

            <div class="setup__btn-center setup__btn-center--additional-top-margin">
                <a axButtonWave class="ax-button ax-button--base setup__btn" routerLink="/login">
                    {{ 'Go to Login' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
