name: CI
on:
  push:
    branches:
      - "main"
      - "release-*"
      - "!release-2.8"
  pull_request:
    branches:
      - "main"
      - "release-*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  changed-files:
    name: Get changed files
    outputs:
      # reference: https://github.com/tj-actions/changed-files#outputs-
      tests: ${{ steps.changed-files.outputs.tests_any_modified == 'true' }}
      e2e-tests: ${{ steps.changed-files.outputs.e2e-tests_any_modified == 'true' }}
      codegen: ${{ steps.changed-files.outputs.codegen_any_modified == 'true' }}
      lint: ${{ steps.changed-files.outputs.lint_any_modified == 'true' }}
      ui: ${{ steps.changed-files.outputs.ui_any_modified == 'true' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 50 # assume PRs are less than 50 commits
      - name: Get relevant files changed per group
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files_yaml: |
            common: &common
              - .github/workflows/ci-build.yaml
              - .github/workflows/reusable-ci-tests.yaml
              - Makefile
              - tasks.yaml
            tests: &tests
              - *common
              - cmd/**
              - config/**
              - errors/**
              - persist/**
              - pkg/**
              - server/**
              - test/**
              - util/**
              - workflow/**
              - go.mod
              - go.sum
            e2e-tests:
              - *tests
              # plus manifests and SDKs that are used in E2E tests
              - Dockerfile
              - manifests/**
              - sdks/**
              # example test suite
              - examples/**
              - go.mod
              - go.sum
              - hack/k8s-versions.sh
            codegen:
              - *common
              # generated files
              - api/**
              - docs/fields.md
              - docs/executor_swagger.md
              - docs/cli/**
              - docs/workflow-controller-configmap.md
              - docs/metrics.md
              - pkg/**
              - sdks/java/**
              # files that generation is based off
              - pkg/**
              - cmd/**
              - examples/** # examples are used within the fields lists
              - manifests/** # a few of these are generated and committed
              # generation scripts
              - hack/api/**
              - hack/docs/**
              - hack/manifests/**
              - .clang-format
              - go.mod
              - go.sum
            lint:
              - *tests
              - .features/**
              # plus lint config
              - .golangci.yml
              # all GH workflows / actions
              - .github/workflows/**
              # docs files below
              - docs/**
              # generated files are covered by codegen
              - '!docs/fields.md'
              - '!docs/executor_swagger.md'
              - '!docs/cli/**'
              # docs scripts & tools from `make docs`
              - hack/docs/copy-readme.sh
              - hack/docs/check-env-doc.sh
              - hack/featuregen/**
              - .markdownlint.yaml
              - .mlc_config.json
              - .spelling
              - mkdocs.yml
              - go.mod
              - go.sum
            ui:
              - *common
              - ui/**

  test-suites:
    name: Test Suites
    needs: [ changed-files ]
    uses: ./.github/workflows/reusable-ci-tests.yaml
    with:
      run-unit-tests: ${{ needs.changed-files.outputs.tests == 'true' }}
      run-e2e-tests: ${{ needs.changed-files.outputs.e2e-tests == 'true' }}
      race-enabled: false
      upload-coverage: true
    secrets: inherit

  codegen:
    name: Codegen
    needs: [ changed-files ]
    if: ${{ needs.changed-files.outputs.codegen == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    env:
      GOPATH: /home/runner/go
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"
          cache: true
      - name: Install protoc
        run: |
          set -eux -o pipefail
          curl -OL https://github.com/protocolbuffers/protobuf/releases/download/v3.19.4/protoc-3.19.4-linux-x86_64.zip
          sudo unzip -o protoc-3.19.4-linux-x86_64.zip -d /usr/local bin/protoc
          sudo unzip -o protoc-3.19.4-linux-x86_64.zip -d /usr/local 'include/*'
          sudo chmod +x /usr/local/bin/protoc
          sudo find /usr/local/include -type f | xargs sudo chmod a+r
          sudo find /usr/local/include -type d | xargs sudo chmod a+rx
          ls /usr/local/include/google/protobuf/
      - name: Pull OpenAPI Generator CLI Docker image
        run: |
          docker pull openapitools/openapi-generator-cli:v5.4.0 &
          docker pull openapitools/openapi-generator-cli:v5.2.1 &
      - name: Create symlinks
        run: |
          mkdir -p /home/runner/go/src/github.com/argoproj
          ln -s "$PWD" /home/runner/go/src/github.com/argoproj/argo-workflows
      - run: make codegen -B STATIC_FILES=false
      # if codegen makes changes that are not in the PR, fail the build
      - name: Check if codegen made changes not present in the PR
        run: git diff --exit-code

  lint:
    name: Lint
    needs: [ changed-files ]
    if: ${{ needs.changed-files.outputs.lint == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 15 # must be strictly greater than the timeout in .golangci.yml
    env:
      GOPATH: /home/runner/go
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"
          cache: true
      - run: make lint STATIC_FILES=false
      # if lint makes changes that are not in the PR, fail the build
      - name: Check if lint made changes not present in the PR
        run: git diff --exit-code
      # lint GH Actions
      - name: Ensure GH Actions are pinned to SHAs
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@d5d20e15f2736816ee0e001ba8b24b54d9ffcff4 # v5.0.0

  ui:
    name: UI
    needs: [ changed-files ]
    if: ${{ needs.changed-files.outputs.ui == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 6
    env:
      NODE_OPTIONS: --max-old-space-size=4096
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "20" # change in all GH Workflows
          cache: yarn
          cache-dependency-path: ui/yarn.lock
      - run: yarn --cwd ui install
      - run: yarn --cwd ui build
      - run: yarn --cwd ui test
      - run: yarn --cwd ui lint
      - run: yarn --cwd ui deduplicate
      # if lint or deduplicate make changes that are not in the PR, fail the build
      - name: Check if lint & deduplicate made changes not present in the PR
        run: git diff --exit-code
      # check to see if it'll start (but not if it'll render)
      - run: yarn --cwd ui start &
      - run: until curl http://localhost:8080 > /dev/null ; do sleep 10s ; done
        timeout-minutes: 1
