name: Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.9
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.25"
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
        with:
          node-version: "19"
      # This is mainly here so the dependencies get saved to the cache by "actions/setup-go"
      - name: Download go dependencies
        run: go mod download
      # Use the same make target both locally and on CI to make it easier to debug failures.
      - name: Build & Lint docs
        run: make docs
      # If linters auto-fix issues, files will be changed. If so, fail the build.
      - name: Check if linters made changes
        run: git diff --exit-code
      # Upload the site so reviewers see it.
      - name: Upload Docs Site
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4.5.0
        with:
          name: docs
          path: site
          if-no-files-found: error
