name: Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.9
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.25"
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "19"
      # This is mainly here so the dependencies get saved to the cache by "actions/setup-go"
      - name: Download go dependencies
        run: go mod download
      # Use the same make target both locally and on CI to make it easier to debug failures.
      - name: Build & Lint docs
        run: make docs
      # If linters auto-fix issues, files will be changed. If so, fail the build.
      - name: Check if linters made changes
        run: git diff --exit-code
      # Upload the site so reviewers see it.
      - name: Upload Docs Site
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: docs
          path: site
          if-no-files-found: error
