name: Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.9
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "19"
      # This is mainly here so the dependencies get saved to the cache by "actions/setup-go"
      - name: Download go dependencies
        run: go mod download
      # Use the same make target both locally and on CI to make it easier to debug failures.
      - name: Build & Lint docs
        run: make docs
      # If linters auto-fix issues, files will be changed. If so, fail the build.
      - name: Check if linters made changes
        run: git diff --exit-code
      # Upload the site so reviewers see it.
      - name: Upload Docs Site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docs
          path: site
          if-no-files-found: error
