name: PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  title-check:
    runs-on: ubuntu-24.04
    outputs:
      type: ${{ steps.semantic-pr-check.outputs.type }}
    steps:
      - name: Check PR Title's semantic conformance
        id: semantic-pr-check
        uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5.5.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  feature-pr-handling:
    needs: title-check
    runs-on: ubuntu-24.04
    if: needs.title-check.outputs.type == 'feat'
    env:
      PR_HEAD: ${{ github.event.pull_request.head.sha }}
    steps:
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.25"
          cache: true
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 50

      - name: Ensure ./.features/pending/*.md addition(s)
        id: changed-files
        uses: tj-actions/changed-files@cbda684547adc8c052d50711417fa61b428a9f88 # v41.1.2
        with:
          files: |
            .features/pending/*.md

      - name: No ./.features/*.md addition
        if: steps.changed-files.outputs.added_files_count == 0
        run: |
          echo "No feature description was added to the ./.features/ directory for this feature PR."
          echo "Please add a .md file to the ./.features/ directory."
          echo "See docs/running-locally.md for more details."
          false

      - name: Validate ./.features/*.md changes
        if: steps.changed-files.outputs.added_files_count > 0
        run: |
          echo "A feature description was added to the ./.features/ directory."
          make features-validate \
            || { echo "New ./.features/*.md file failed validation."; exit 1; }
