name: PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  title-check:
    runs-on: ubuntu-24.04
    outputs:
      type: ${{ steps.semantic-pr-check.outputs.type }}
    steps:
      - name: Check PR Title's semantic conformance
        id: semantic-pr-check
        uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  feature-pr-handling:
    needs: title-check
    runs-on: ubuntu-24.04
    if: needs.title-check.outputs.type == 'feat'
    env:
      PR_HEAD: ${{ github.event.pull_request.head.sha }}
    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.26"
          cache: true
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 50

      - name: Ensure ./.features/pending/*.md addition(s)
        id: changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            .features/pending/*.md

      - name: No ./.features/*.md addition
        if: steps.changed-files.outputs.added_files_count == 0
        run: |
          echo "No feature description was added to the ./.features/ directory for this feature PR."
          echo "Please add a .md file to the ./.features/ directory."
          echo "See docs/running-locally.md for more details."
          false

      - name: Validate ./.features/*.md changes
        if: steps.changed-files.outputs.added_files_count > 0
        run: |
          echo "A feature description was added to the ./.features/ directory."
          make features-validate \
            || { echo "New ./.features/*.md file failed validation."; exit 1; }
